[2018-02-21 18:28] AJIXuMuK opened #7 "ColumnFormatter: gulp bundle --ship hangs on 'webpack' subtask"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
`gulp bundle --ship` works fine - the solution is built in release mode
#### Observed Behavior
`webpack` subtask hangs

#### Steps to Reproduce
`gulp bundle --ship`

[2018-02-21 18:33] thechriskent commented on #7
It takes 30+ minutes to run. Which is why I've provided the package directly in the assets: https://github.com/SharePoint/sp-dev-solutions/raw/master/solutions/ColumnFormatter/assets/column-formatter.sppkg

[2018-02-21 19:14] AJIXuMuK commented on #7
ouch... =) Have you investigated why it takes so long?

[2018-04-07 17:06] DroopyTersen opened #12 "Guidance on working with custom Monaco build"
#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

First, thank you for hosting this repo. It is an awesome resource.

I stumbled across this repo while trying to integrate the Monaco editor into an SPFx webpart.  After lots of spinning, I found @thechriskent had successfully done it using a custom build.

This is great, however one unfortunate side effect of the implementation is that the

[2018-05-22 16:21] deanbot opened #17 "caml.js link 404"
Greetings. Just wanted to let you know that the caml.js links noted in readme files may need to be updated.

#### Category
- [*] Bug

#### Observed Behavior
caml.js links in [readme](https://github.com/SharePoint/sp-dev-solutions/tree/master/solutions/LinksAndHandlebarsTemplate) result in 404.

[2018-06-12 08:40] VesaJuvonen commented on #7
Closing as no activities and not really an issue.

[2018-06-12 08:40] #7 closed

[2018-06-12 17:43] ashley72788 opened #20 "Argument of Type - Service Scope & Service Key"
[nodecmddetails.txt](https://github.com/SharePoint/sp-dev-solutions/files/2095243/nodecmddetails.txt)
[packagedetails.txt](https://github.com/SharePoint/sp-dev-solutions/files/2095244/packagedetails.txt)
[package-lock.json details.txt](https://github.com/SharePoint/sp-dev-solutions/files/2095245/package-lock.json.details.txt)

Thank you for reporting an issue or suggesting an enhancement. We appre

[2018-06-12 17:44] ashley72788 commented on #20
package.json

`{
  "name": "site-designs-studio",
  "version": "1.1.0",
  "private": true,
  "engines": {
    "node": ">=0.10.0"
  },
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test"
  },
  "dependencies": {
    "react": "15.6.2",
    "react-dom": "15.6.2",
    "@types/react": "15.6.6",
    "@types/react-dom": "15.5.6",
    "@microsoft/sp-core-library":

[2018-06-12 17:45] ashley72788 commented on #20
package.json
{
  "name": "site-designs-studio",
  "version": "1.1.0",
  "private": true,
  "engines": {
    "node": ">=0.10.0"
  },
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test"
  },
  "dependencies": {
    "react": "15.6.2",
    "react-dom": "15.6.2",
    "@types/react": "15.6.6",
    "@types/react-dom": "15.5.6",
    "@microsoft/sp-core-library": "

[2018-06-13 06:56] ypcode commented on #20
Hi @ashley72788,

I get the same issue when fetching the sources from the github repo, I'll take a look and come back ASAP.

Best regards,
Yannick

[2018-06-15 19:43] sgates3414 opened #22 "Unable to serve TimeAway"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Tried to run npm install and gulp serve within the TimeAway solution directory

[2018-06-15 20:27] jdonajkowski commented on #22
Try using yarn instead of npm. I find I have better luck with yarn than npm for pulling the dependencies. This is what i would try:
1. Delete the node_modules directory
2. install Yarn from admin console
    npm -g install yarn
3. cd to TimeAway solution directory
4. yarn install
5. gulp serve

[2018-06-16 23:59] ypcode commented on #20
Hi  @ashley72788, I finally had a look,

and as I suspected, the issue happens since the release of SPFx 1.5.0. I totally forgot the freeze the dependencies version in the package.json (Sorry.. my bad...).
I fixed it in the package.json, could you please resync your local repo, and give it a try ?

[2018-06-18 15:41] sgates3414 commented on #22
I reset and tried using yarn install.  When running gulp serve I am still inundated with typescript errors.

`[10:39:29] Error - typescript - node_modules\@microsoft\sp-loader\node_modules\@types\react\index.d.ts(3589,13): error TS2403: Subsequent variable declarations must have the same type.  Variable 'textPath' must be of type 'SVGProps', but here has type 'SVGProps<SVGTextPathElement>'.
[10:39

[2018-06-26 18:08] itsknob opened #24 "Description is improperly named "Name""
https://github.com/SharePoint/sp-dev-solutions/blob/604dbf7557e92e833b09f4d522473b5a654f4762/solutions/SiteDesignsStudio/schemas/schema.20180602.json#L397

There are currently two fields named Name. The Name field and the Description field. The Description field needs to be renamed to "Description"

[2018-06-26 18:28] ypcode commented on #24
Indeed, thanks Stephen for letting me know, I’ll fix that ASAP

KRs
Yannick
________________________________
De : Stephen Reilly <notifications@github.com>
Envoyé : mardi, juin 26, 2018 8:08 PM
À : SharePoint/sp-dev-solutions
Cc : Subscribed
Objet : [SharePoint/sp-dev-solutions] Description is improperly named "Name" (#24)

https://github.com/SharePoint/sp-dev-solutions/blob/604dbf7557e92e833b09f4

[2018-07-01 10:07] #24 closed

[2018-07-01 10:09] #20 closed

[2018-07-02 17:24] tchagan opened #26 "Unable to build ColumnFormatter for production"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I wish to package the solution for production, by running gulp build, gulp bundle --ship, gulp package-solution --ship

#### Observed Behavior
I run gulp build, then gulp --ship, at this point the process does not move beyond
Starting subtask 'webpack' ...

#### Steps to Reproduce
Running npm 6.1.0, node 8.

[2018-07-17 14:55] sympmarc commented on #17
I'm also getting a 4040 with that link. When I run the LinksAndHandlebars solution in the local workbench, I also get the following errors. It looks like those files no longer exist.

***ERROR MESSAGE:
***Failed to load component "925b8fdb-3c50-4035-b15e-1baf4c15e994" (BoxButtonWebPart).
Original error: ***Failed to load URL 'https://raw.githubusercontent.com/andrei-markeev/camljs/master/CamlJs/ca

[2018-08-09 17:41] itsknob commented on #26
It looks like this might be related to #7, where Chris Kent mentioned that the process takes over 30 minutes to complete. He said that's why the package solution was included.

[2018-08-09 19:38] ypcode commented on #26
Hi,

as Stephen mentions, it’s due to the Monaco Editor used in the solution. Somehow it is not optimized for the SPFx bundling. I definitely will try to improve that when I get a chance.

But it does work very slowly even if it looks hanging forever.

But again, if you want to use the solution as is, the sppkg is shipped with even a PowerShell install script (in the package folder).

Thanks for t

[2018-09-03 04:09] MrDrSushi opened #28 "Can't perform NPM INSTALL"
Just downloaded the solution by using the instruction through GIT CLONE.

Tried to install the dependencies by calling **NPM INSTALL** and got the following error:

C:\DEV\sp-dev-solutions\solutions\ContactManagement>npm i
npm WARN deprecated gulp-util@3.0.8: gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5
npm WARN deprecated grace

[2018-09-10 07:06] VesaJuvonen commented on #26
Closing as seem to be indeed related on the #7 and no active discussion since that comment.

[2018-09-10 07:06] #26 closed

[2018-09-18 15:26] seaSide974 commented on #28
Same issue here when trying to install ContactManagement : "gyp verb which failed Error: not found: python2"

`gyp ERR! configure error
gyp ERR! stack Error: Command failed: C:\Users\jeff\AppData\Local\Programs\Python\Python37-32\python.EXE -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import sys; print "%s.%s.%s" % sys.version_

[2018-09-28 12:34] Virgile59 opened #35 "Resize default file name column"
#### Category
- [*] Question

Hello, first of all thank you for your work.
Despite my documentation I can not resize (in width) the file name column (clickable). I use SharePoint Office 365 modern interface.

Thanks for your help.

[2018-09-29 15:07] nmnikolov opened #36 "[ColumnFormatter 1.2] "self.require is not a function" error in Monaco editor"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Downloaded the **column-formatter.sppkg** (version 1.2) file from the repo and installed it on my tenant.

#### Observed Behavior
 After choosing the column type and the screen with the json formatting appears there is an error in the console and the intellisense for the json is not working. The error is fr

[2018-10-02 10:39] muges01 opened #37 "I could not run the site script for flows-formatters-pages-siteScripts"
Hi everyone,

I try to create a team site using the provided site script 'UberSiteDesign.json' but the site script stuck on the initialising. I awaited for few minutes and it is still stick on that screen.

![site-script-error](https://user-images.githubusercontent.com/22563887/46344023-a8a9c780-c637-11e8-9da5-0fe905e45cdf.png)

#### Category
- [ ] Question
- [x ] Bug
- [ ] Enhancement

#### Expec

[2018-10-12 16:45] diver7 opened #39 "Can't build latest version"
#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I want to be able to build the project.

#### Observed Behavior
I downloaded the latest code, unzipped it, ran "npm install" and then tried to build it. I throws 2 errors:
_Error - [tsc] src/webparts/handlebarTemplateDisplay/HandlebarTemplateDisplayWebPart.ts(24,36): error TS1149: File name 'S:/LinksAndHan

[2018-10-13 14:39] vivsunny10 commented on #37
I am also facing same error. Any updates?

[2018-10-13 18:46] muges01 commented on #37
No, i didn't get any updates. Please post your comments on this https://github.com/SharePoint/sp-dev-docs/issues/2695 as well.

[2018-10-17 22:46] muges01 commented on #37
hi @vivsunny10  did find any solution?

[2018-10-19 10:35] vivsunny10 commented on #37
Hi @muges01 ,

Issue is   site scripts are limited to 30 cumulative actions (across one or more scripts that may be called in a site design. Please refer following issue:-https://github.com/SharePoint/sp-dev-docs/issues/2205

I belive we will have to wait for Microsoft to update the limit before we can use the UberSiteScript.json since in Ignite they might have shown a preview feature which is not

[2018-10-19 11:30] muges01 commented on #37
Thank you @vivsunny10. I guess we just have to wait.

[2018-10-19 11:30] #37 closed

[2018-11-09 21:10] spidersbite opened #41 "Hub web parts sppkg not linking to existing lists"
#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I want to use lists to populate the Hub webparts sppkg.

#### Observed Behavior
Lists aren't pulled in even though I'm selecting existing lists on my site. I was only able to pull in one list using buttons, and that one was limited to a blue, bold, all caps design.

#### Steps to Reproduce

- Add hub-web-p

[2018-11-10 17:41] Willerz707 opened #42 "Unable to show correct Percent Complete in task list Donut view"
- [X ] Question
- [ ] Bug
- [ ] Enhancement

I must be dense, but I can't make the donut show the correct percentages for the default percentage complete column in my Task list?
What am I doing wrong?

![capture2](https://user-images.githubusercontent.com/44778642/48304317-b66f2a00-e4cc-11e8-98c3-feb537dbaf4b.PNG)
![capture1](https://user-images.githubusercontent.com/44778642/48304318-b66f2a00-e4c

[2018-11-15 16:02] thechriskent commented on #42
When a field is set to percent, the value is from 0 to 1. So, in the wizard set the Range as **Low: 0** and **High: 1**. Thanks!

[2018-11-15 16:02] #42 closed

[2018-11-15 16:02] Willerz707 commented on #42
I’ll try that. Thanks

Sincerely,
William Hardwick

HumWebit.com
Be first in search.
Office 365 consultant.
________________________________
From: Chris Kent <notifications@github.com>
Sent: Thursday, November 15, 2018 8:02:16 AM
To: SharePoint/sp-dev-solutions
Cc: William Hardwick; Author
Subject: Re: [SharePoint/sp-dev-solutions] Unable to show correct Percent Complete in task list Donut view (#

[2018-11-15 16:03] Willerz707 commented on #42
Do you also know how to show a person’s profile picture for any task assigned to right now it’s only showing the user that’s using it?

Sincerely,
William Hardwick

HumWebit.com
Be first in search.
Office 365 consultant.

________________________________
From: William Hardwick <william@humwebmarketing.com>
Sent: Thursday, November 15, 2018 8:02 AM
To: SharePoint/sp-dev-solutions; SharePoint/sp-dev

[2018-11-15 16:05] thechriskent commented on #35
Thanks for your question! However, this issues list is for the solutions included in this repository and isn't intended for general issues.

If you are attempting to do the above via an API you can submit this as an issue on https://aka.ms/spdev-issues

Otherwise, the Microsoft tech community, Stack Exchange, etc. provide additional options for support.

[2018-11-15 16:05] #35 closed

[2018-11-15 16:46] thechriskent commented on #42
You can show a profile picture for a user field using this sample (also included as a template in Column Formatter): https://github.com/SharePoint/sp-dev-list-formatting/tree/master/column-samples/person-roundimage-format

Perhaps I'm not understanding the issue? I'm not sure what you mean by only showing the user that's using it.

[2018-11-15 16:47] Willerz707 commented on #42
It only shows the person that is logged in the current user all the rest are just default profile pictures?

Sincerely,
William Hardwick

HumWebit.com
Be first in search.
Office 365 consultant.

________________________________
From: Chris Kent <notifications@github.com>
Sent: Thursday, November 15, 2018 8:46 AM
To: SharePoint/sp-dev-solutions
Cc: William Hardwick; Author
Subject: Re: [SharePoint/

[2018-11-15 16:58] thechriskent commented on #42
Hmmm... I just checked in my environment and I'm not having that issue.

What value is being used for the `src` attribute of the `img` element? I have `='/_layouts/15/userphoto.aspx?size=S&accountname=' + @currentField.email` working just fine.

[2018-11-15 17:07] Willerz707 commented on #42
Duh, I was using the user profile template not the round image template.
Thanks for all the quick replies. This web part is great!

From: Chris Kent <notifications@github.com>
Sent: Thursday, November 15, 2018 8:59 AM
To: SharePoint/sp-dev-solutions <sp-dev-solutions@noreply.github.com>
Cc: William Hardwick <William@HumWebMarketing.com>; Author <author@noreply.github.com>
Subject: Re: [SharePoint/

[2018-11-19 18:57] #39 closed

[2018-11-20 16:29] diver7 opened #43 "Hub Links web part (Grouped List) not formatting correctly"
#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
In a grouped list it was grouping under the category field and the user was able to collapse and expand each category. Now it does not allow collapsing or expanding and the down arrow at the end of the category is missing. Right below the category it shows a greater than and then a down arrow but they are

[2018-11-21 15:02] diver7 commented on #43
This appears to have been a problem on my end with my SharePoint tenant. Closing issue.

[2018-11-21 15:02] #43 closed

[2018-11-26 13:45] ryanmcdonough commented on #28
You'll need to install Python 2 and PhantomJS as suggested in the error message.

[2018-11-26 21:37] muges01 opened #44 "LeadsLOBSolution is not working on the microsoft teams desktop version"
Hi guys,

I have installed the 'LeadsLOBSolution' on my tenant. This app is working fine on the Microsoft teams web version but not working on the desktop version. Is this a know issue?

#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
The leads tab should be displaying all the demo leads

#### Observed Behavior
When i go to the leads tab its keep showing

[2018-11-29 09:04] lsweeney2018 opened #45 "Donut"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are su

[2018-11-29 09:08] lsweeney2018 commented on #45
Thanks Chris for the column formatter. It is a brilliant tool.

I have used the column formatter to create donuts in the place of numbers. The donuts show properly in Chrome and Edge but not IE. How can this be fixed
Internet Explorer 11
![capture20180615100207572](https://user-images.githubusercontent.com/45452276/49210906-28dd7680-f3b6-11e8-8484-6f993147e8cb.png)

Edge
![capture20181129090730845

[2018-12-11 15:18] diver7 opened #46 "Hub Links Web Part loading issue"
#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Web part loads every time a page is loaded

#### Observed Behavior
Web Part intermittently gets stuck in the pre-load when a modern page is rendered in SPO.
![image](https://user-images.githubusercontent.com/18582794/49809639-0f78ea80-fd25-11e8-91b6-d258d7a1d875.png)

#### Steps to Reproduce
This has happe

[2018-12-17 16:35] diver7 commented on #46
Discovered something today. I was having the issue in Firefox so I tried clearing the cache. After clearing the cache the web part starting working again. Does anyone have any ideas as to why the browser cache would make the web part hang?

[2019-01-04 16:51] ryanmcdonough commented on #28
Should be closed, not a bug.

[2019-01-08 20:52] diver7 commented on #46
@jdonajkowski  - I am still having the issue. Clearing the cache only fixes it sometimes.

[2019-01-09 18:59] jdonajkowski commented on #46
@diver7 Check out my fork of this code and see if the changes I made updating it to SPFX 1.7.1 and React 16.3.2 help you too. It seems to have help on my tenant.
[jdonajkowski/sp-dev-solutions](https://github.com/jdonajkowski/sp-dev-solutions)

[2019-01-16 19:09] diver7 commented on #46
@jdonajkowski - I tried your fork. It worked on my dev SP tenant but still had the issue on our main SP tenant. Not sure what the difference would be.

[2019-01-22 13:50] CharlesVARAUT opened #49 "react-search-refiners - Filter Panel too big for mobile app & mobile browser"
## Category

- [ ] Question
- [ ] Bug
- [x] Enhancement

## Authors

@FranckyC & @wobba

## Expected or Desired Behavior

The filter panel of _react-search-refiners_ WebPart should be fully visible on browser and SharePoint mobile app and not depend of the screen resolution.

## Observed Behavior

The filter panel is too big for mobile screen and it is troncated.

## Steps to Reproduce

WebPart _r

[2019-02-01 21:40] dheepai opened #52 "Erros with SPHttp"
#### Category
- [ ] Bug

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are suggesting an enhancement please describe thoroughly the enhancement, how it can be achieved, and expected benefit._

#### Observed Behavior
Getting the following error on gulp serve
Error - [tsc] src/services/NlpService/NlpService.ts(43,74): error TS2345: Argum

[2019-02-02 17:52] FranckyC commented on #52
Hi @dheepai, can you tell me the node.js version you use?

[2019-02-03 01:56] dheepai commented on #52
Upgrading node.js fixed the error. Thanks @FranckyC

[2019-02-03 01:56] #52 closed

[2019-02-03 15:55] FranckyC commented on #49
@wobba You can close this one.

[2019-02-03 15:59] #49 closed

[2019-02-04 18:59] wobba opened #55 "Add code/functionality to include private group results in modern search wp"
#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

#### Expected or Desired Behavior

Ref
https://github.com/SharePoint/PnP-JS-Core/wiki/Working-With:-Search add setting or hardcode in `EnableDynamicGroups`.

@FranckyC

[2019-02-05 13:24] Peter-Ross-C opened #56 "react-search-refiners: not working out of the box"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Webpart works out the box

#### Observed Behavior
So this may just be my lack of

[2019-02-07 05:36] vamsi981 opened #57 "Create URL Params based filter so user can bookmark the search history"
Hi, how to enable URL params so that users can bookmark the search URL and share it across. is there any guidance for that?

[2019-02-13 17:28] FranckyC commented on #56
Hi @Peter-Ross-C, just in case, can you try to wipe out your _node_modules_ folder and _package-lock.json_ file and then retry?

[2019-02-20 12:44] GeoffE1e6 opened #59 "Applying JSON Properties to Search Box / Search Refiner WebParts problem"
Category
- [x] Question
- [x] Bug
- [ ] Enhancement

Hi Folks,

Am working on a mechanism to deploy using PNP the search refiner webpart with the search box based on its web properties to another site. This is to ensure that the configuration can be replicated programmatically, without having to manually re-enter all the settings for the search refiner and search box.

To do this, I extracted the

[2019-02-22 09:58] despingu opened #60 "Global Footer Command Bar collapses in libraries and lists"
#### Category
- [x ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
We recently installed the global footer solution provided within this repo and are pretty happy with it as it is. Our expectation was, that it shows up on every element in every modern team site or communication site depending on the available space.

#### Observed Behavior
Recently we noticed that the de

[2019-02-26 02:45] kachihro opened #61 "Search Refiners with Term Store Values"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [X] Question
- [] Bug
- [X] Enhancement

#### Expected or Desired Behavior
When configuring a refiner from 'RefinableString02', for example - which - is a fi

[2019-03-04 21:44] tdwhite0 commented on #61
@kachihro This goes away if you click "Localization enabled" on page 2 of the config, I had this happening to me today.

[2019-03-04 21:49] tdwhite0 commented on #59
@GeoffE1e6 I had problems getting this WebPart to export/import correctly too. What I found that was in the properties JSON wasn't getting exported with a "queryKeywords" property, I think because of the dynamic data setup. When I added that manually to  the properties I was able to get the import to work.

[2019-03-05 18:39] FranckyC commented on #61
@tdwhite0 @kachihro correct this is due to an update that I've made to mainly improve performances. Sorry for that :(

[2019-03-06 08:37] YannickRe opened #64 "[ModernSearch] [WIP] Allow refiners to be displayed in their own web part"
- [X] Enhancement

#### Feature enhancement
Just a FYI to let you know I'm working on a feature to (if wanted) show to Refiners in their own web part instead of in the main web part as a sliding panel. I took great care in making sure that both methods would still work.

I know that it's not really the modern look and feel, but a lot of customers are still asking for a similar experience as with t

[2019-03-06 10:16] ryanjonhealy commented on #56
@Peter-Ross-C Copy the package.json from the repo and run `npm i` again.
I saw some errors, the terminal  suggested `npm audit`, which I did and had the same issue.

[2019-03-06 17:02] FranckyC commented on #64
Nice one @YannickRe ! Is it ready to test yet using your feature branch?

[2019-03-06 17:06] YannickRe commented on #64
Yes, it’s finished. Just missing the readme and a thorough test with the Provisioning engine.

[2019-03-06 17:08] FranckyC commented on #64
Ideally I would remove the old refiner method embedded in the search results and thus introduce a breaking change. Both methods mean duplicate code somewhere, which is not a good approach. The new WP could still have multiple UI options (like panel or visible filters). We also could think to introduce templating for refiners as well maybe. What do you think @wobba ?

[2019-03-06 17:09] FranckyC commented on #64
@YannickRe I'll take a look

[2019-03-06 17:15] YannickRe commented on #64
I tried to reduce the code duplication, splitting code to a global Filter component out if the FilterPanel component. Both the FilterPanel and the webpart now use this Filter component.

I like the idea of the templating for the Refiners, thought about it, but decided to start with this “simple” version first.

[2019-03-06 17:58] wobba commented on #64
I think introducing this and keeping the built-in is a great start. Question is if refiner props should be specified in the result wp, if you are using a separate wp, or passed in somehow. I'd like to avoid a breaking change if possible. @YannickRe how do you specify refiner settings?

[2019-03-06 18:01] YannickRe commented on #64
I kept configuration in the original webpart. I have no breaking changes, the original webpart exposes the necessary values to the refiner webpart. The refiner webpart passes the selected values back to the original webpart.

You decide in the property pane if you want to use the built in refiners or the refiner webpart.

[2019-03-06 18:16] wobba commented on #64
@YannickRe makes sense, tag me when you do a PR and I'll review and test the code.

[2019-03-06 18:35] FranckyC commented on #64
@YannickRe Just tested it. I'm ok with the concept but I have few comments:
- Not sure about the loading icon here because the component does not fetch anything actually. I would remove it.
- Also when connecting to the search refiners to the search results, you could use a single dynamic data object property instead of 3 different properties.
- Please use the React container pattern (i.e. the sam

[2019-03-06 18:43] wobba commented on #64
I'll agree to the breaking change as I'm not using refiner myself in prod ;-) @taraldga is though but not a lot. @YannickRe how hard would it be to implement the changes proposed by @FranckyC?

[2019-03-06 19:02] FranckyC commented on #64
@YannickRe I could help on this one. I could take your feature branch as a start. Sorry for all the comments and thoughts but it is critical component in the search experience. You didn't choose an easy one ;)

[2019-03-06 19:44] YannickRe commented on #64
@FranckyC I'm known to aim high ;) And I agree it's a critical component, my current project has this as a top priority.

About the comments:
1. Agreed to remove the loading icon. Implementation gets a lot simpler and can use it's own state management if we can do breaking changes and remove the current filter experience. This would eliminate the need for the loading icon. I did this now, because

[2019-03-06 19:52] FranckyC commented on #64
@YannickRe Ok you can submit your PR when ready ;) I will probably enhance the base implementation with mentioned points above. To summarize, you do the 'split' part and I complete with the details requiring deeper component knowledge. Sounds good?

[2019-03-06 20:04] YannickRe commented on #64
Great. Should have started with separating out the pagination ;)

[2019-03-07 14:26] YannickRe commented on #64
@wobba @FranckyC Pull request submitted!

[2019-03-07 17:01] mukeshhope opened #66 "Can not build react-search-refiners"
Hi Team,

I was trying to use Modern search related webparts.
I downloaded the code and as per instruction i run npm install and gulp serve however it shows blank screen.

When i create a project normally then it works fine.  please suggest what issues could be.
my node version is 8.11.3
npm version is : 5.6.0
i get a lot of errors in console as below.
![reactsearchrefiner](https://user-images.git

[2019-03-07 19:58] wobba commented on #66
Which SPFx version are you running?

[2019-03-08 07:42] mukeshhope commented on #66
Hi Wobba,

I am sorry but how can i find what version of spfx am i using . i mean is there a command to find that out.
I think that it should be 1.5.1 but please tell me if there is some way to confirm this and how to upgrade then ? . Thankyou so much for your help

[2019-03-08 07:47] wobba commented on #66
If you open .yo-rc.json in a new project you see the version. This webpart requires at least 1.7.0, so you can update your SPFx version with `npm install -g @microsoft/generator-sharepoint` where 1.7.1 is the latest.

[2019-03-08 10:24] mukeshhope commented on #66
Hi Wobba,

Thank you so much for your help. i now have installed 1.7.0 version of yeoman generator by but i can not build the solution using gulp build.
please have a look on the error i am getting
![reactsearchrefiner1](https://user-images.githubusercontent.com/18657453/54023209-61150200-41ba-11e9-9081-481d71eba601.png)

[2019-03-08 11:04] wobba commented on #66
@mukeshhope I noticed - just pushed a fix for this just 5 seconds ago :)

[2019-03-08 11:14] wobba commented on #66
@mukeshhope I did a fresh clone of the repo just now, and that seems to build as expected with SPFx v1.7.1.

[2019-03-08 11:45] mukeshhope commented on #66
Hi Wobba ,
Thankyou so much. it is now working.
I will now build and try it. but i am very happy with the help that you provided.
Thankyou once again

[2019-03-08 11:45] #66 closed

[2019-03-08 14:51] DenisTiri opened #67 "[GlobalFooter] footer doesn't stay at bottom on SharePoint App"
#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Footer to stay on bottom of the page

#### Observed Behavior
Scrolling the pages makes the Global Footer move up SOMETIMES

#### Steps to Reproduce
1. Go to Modern page on SharePoint Mobile App (android)
2. Scroll down
3. See the footer go up (in some cases, not all)

[2019-03-09 12:15] YannickRe commented on #64
Merged, so this can be closed now.

[2019-03-09 12:15] #64 closed

[2019-03-09 23:01] FranckyC commented on #61
@kachihro Does it work for you?

[2019-03-09 23:29] FranckyC opened #70 "[ModernSearch] Search navigation Web Part should allow predefined queries"
#### Category
- [ X] Enhancement

#### Expected or Desired Behavior

@taraldga Instead of relying on a search box, you could also add a mode where tabs correspond to predefined queries and use the URLFragment (or other configurable option like a query string parameter) to pass them. It could be very useful to enable single search page scenarios with query rules and result types depending the query

[2019-03-10 13:32] YannickRe opened #71 "[ModernSearch] Search Refiner Web Part doesn't reset on new query"
#### Category
- [X] Bug

#### Expected or Desired Behavior
I do a search query (v3.0.0.0), then apply a refiner with the Search Refiners Web Part and then do a new search query, I expect the refiners to be reset.

#### Observed Behavior
The refiners stay applied on the new search query.

#### Steps to Reproduce
![RefinerWebPartProblem](https://user-images.githubusercontent.com/9973962/54085703-12d

[2019-03-10 14:45] FranckyC commented on #71
@YannickRe This bug was here before and it applies on all 'range' filters. This is because new refiners are generated after a query and we lost trace of the previous value (we do the comparison on the RefinementToken value to see if the filter is checked).

I think instead of displaying the raw range value determined by SharePoint, we should set predefined ones to avoid this type of issue (last 24

[2019-03-10 14:50] FranckyC opened #72 "[ModernSearch] Roadmap & enhancements"
#### Category
- [X] Enhancement

#### Expected or Desired Behavior
Possible enhancements for the ModerSearch solution:

**Search refiners**

- Add an horizontal layout with dropdowns
- Add shimmers for the initial load. Not a big deal but it can be weird on the first query.
- Add predefined refiner templates (like date ranges, alphabetical filter, taxnomy picker).
- Allow multiple values for each

[2019-03-10 15:43] YannickRe commented on #71
That’s a separate issue (that indeed existed before). What I’m reporting now is the fact that the refiners don’t return to the initial state when changing the input on the search box.
In the integrated version, if you switched queries, the refiners would be reset as well.

[2019-03-10 16:03] FranckyC commented on #71
@YannickRe yup you're right. Didn't see this, I was focusing on the date issue. I removed the search query proeprty connection from the search results, that's why I guess. Not so much time this weekend but I'll try to fix this asap.

[2019-03-10 17:00] YannickRe commented on #71
No problem, and no hurry. I’d love to expose the complete SearchService configuration of the current query for use in another webpart, which can be used to determine difference with previous query but allows for complete replay of the Search request for other purposes. What do you think?

[2019-03-11 09:38] taraldga commented on #70
@FranckyC  Thanks for the feedback, I will look into this in the coming week.

Just to clarify the first point: do you mean an option for the user to set a default search query for a navigation node instead of relying on the query that comes from the search box?

[2019-03-11 13:10] #71 closed

[2019-03-11 17:29] YannickRe commented on #72
Two more improvements that would be nice. What do you think?
**Search box**
- Ability to "clear" the entry and return to the default state

**Search navigation**
- Datasource selection limited to Search Results web part

[2019-03-12 13:34] FranckyC commented on #72
Yep nice additions as well @YannickRe

[2019-03-12 13:36] FranckyC commented on #70
@taraldga Yes that's right the user could enter an arbitrary keyword instead and send it to the current page as an URL fragment.

[2019-03-13 16:17] AshwinKheta opened #75 "Console error: Unexpected token / in JSON at position 0 (In the Box button web part)"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [0] Question
- [1] Bug
- [0] Enhancement

#### Expected or Desired Behavior
There should not be any errors logged in the console window

#### Observed Behavi

[2019-03-13 22:16] coupalm opened #76 "How to use Query String Parameters with Search Result WebPart"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [X ] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I would like to use a URL querystring parameter in the search result web part bu

[2019-03-14 01:03] FranckyC commented on #76
Hi @coupalm Does your WP configuration look like this?

![image](https://user-images.githubusercontent.com/5659122/54324233-47692580-45d3-11e9-82db-62a7e02f2d33.png)

The parameter is available in the Web part when your browse the page with *?Mode=Edit&ListItemId=1*

[2019-03-14 03:37] coupalm commented on #76
Exactement.

So how do I use the url parameter value in the query? What is the token?

Thanks!

[2019-03-14 08:11] wobba commented on #76
@coupalm If I understand you correct you want to pull arbitrary query params as variables in the query, correct? This has not been implemented afaik, but shouldn't be too hard to implement `{QueryString.<ParameterName>}` . @FranckyC has to correct me if I'm mistaken in how the dynamic query param works, but seems that only works to pull an arbitrary param to be used as the full query.

[2019-03-14 11:14] MichalExpP opened #78 "react-search-refiners handlebar helper getDate not working consistently"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Handlebar template using a handlebar helper {{getDate Created "D MMMM"}} to display a date from a SharePoint date field consistently.

#### Observed Behavior
The template displays a date correctly, but in every 5-10 page load, the date is not being displayed at all when {{getDate Created "D MMMM"}} helper i

[2019-03-14 13:16] stridsbr opened #79 "Modern search refinable result open document in client application"
#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

Is there a way to open documents in the client application from the resultwebpart? Or how do I tell SharePoint to open the document in the client application instead of office online? Is there a parameter to the page _layouts/15/Doc.aspx like openInWeb=false or some other simple solution?

I have configured the library to open documents in

[2019-03-14 13:23] wobba commented on #79
If the library has default to open in the client you should be able to use a direct linke `https://someurl.sharepoint.com/sites/site1/Shared%20Documents/WordDoc1.docx`. If you want to force it you can try `ms-word:ofe|u|https://someurl.sharepoint.com/sites/site1/Shared%20Documents/WordDoc1.docx` which will prompt the user first I believe.

[2019-03-14 14:04] stridsbr commented on #79
Thanks for the quick reply. When I use the full url the document is downloaded and don't open directly. The other works nice.

Found the schema documented here:
https://docs.microsoft.com/en-us/office/client-developer/office-uri-schemes

thanks :-)

[2019-03-14 14:04] #79 closed

[2019-03-14 14:32] FranckyC commented on #76
I confirm @wobba @coupalm you can't use the query string parameter as a `{QueryString.<ParameterName>}` token in your search query. The dynamic data source parameter will be use as `{searchTerms}` token so it means you can't use both search box and query string parameter at the same time for instance.

[2019-03-14 15:03] wobba commented on #76
I'll leave this issue open as reference until we implement URL param query variables.

[2019-03-15 02:32] Kman1131 opened #82 "Can't run package-solution --ship on react-search-refiners"
#### Category

- [x] Bug

#### Expected or Desired Behavior
Running from the spfx folder: npm install followed by gulp build --ship & gulp package-solution --ship should produce a build.

#### Observed Behavior
When just gulp build and gulp package-solution are used the package is generated successfully, with the addition of --ship, package-solution produces the following error:

Error - Error: Th

[2019-03-15 10:53] wobba commented on #82
@Kman1131 which SPFx version do you have installed? Latest code require v1.7.1.

[2019-03-15 12:49] FranckyC commented on #82
@Kman1131 Did you run `gulp bundle --ship`? It seems not if I look at your steps

[2019-03-15 21:36] Kman1131 commented on #82
@wobba & @FranckyC Omg so sorry guys - 18hrs up, too much coffee and lack of sleep - then I start using commands I have never used before, please close and mark user as incompetent and amateur!

On another note - fantastic work on this lately, I have been using this since the early days and the solution has really progressed. Sorry to waste your time here guys.

[2019-03-15 21:38] #82 closed

[2019-03-17 12:54] YannickRe commented on #72
More general suggestions:
- Upgrade to SPFx v1.8
- When library components go GA, move ResultService and SearchService (+ associated interfaces) to a separate library for use in renderers and separate web parts.

@FranckyC : maybe move everything you approve of to your first post? Then we have a nice roadmap  to pick stuff from :)

[2019-03-17 17:23] FranckyC commented on #72
Done @YannickRe. Not sure about the library components. I would have to play with it before to evaluate if it can be useful in this solution ;)

[2019-03-19 14:52] wobba commented on #78
@MichalExpP tested with the latest code (shouldn't really matter as this hasn't changed) and can't reproduce on either IE or Chrome. Added a webpart, added * as the search, left everything else default and changed the default template to use "D MMMM" in the format.

Does it render blank or "invalid date", and if you inspect the DOM, is the field blank - also would be interesting if you could check

[2019-03-19 16:04] MichalExpP commented on #78
@wobba Hi Mikael, I've just noticed this happens only, only if more than one search web part is the page. I don't have many pages with only one web part, I do apologise for the commitment.
- Postquery does give correct date
- DOM displays a blank (space) value

I've reproduced this with 2 Lists, 3 items in each (You can use one list, the same outcome). Create List1 and List2, add 2 web parts to th

[2019-03-21 07:06] wobba commented on #78
@MichalExpP I've reproduced it - let's see if I can figure out what happens.

[2019-03-21 09:33] wobba commented on #78
@MichalExpP seemed to be a weird race condition where the a helper variable wasn't set, even though it should have. Moved it to a global variable, which is also shared among all web parts. This seems to have solved the issue. `v3.0.4.0` has the updated code.

[2019-03-21 09:33] #78 closed

[2019-03-25 19:46] Ashutosh2019 opened #88 "Pnp search not showing MS Teams data"
#### Category
- [ ] Bug

#### Expected or Desired Behavior
The Pnp Search result spfx web-part should show result from MS Teams as there is no change in result resource. If you try default modern search, in organization search result page the document appears.

#### Observed Behavior
The Pnp Search result spfx web-part doesn't show result from MS Teams. If you try with same key word/text in OOTB m

[2019-03-25 20:33] wobba commented on #88
I'm pretty sure I know what this is. To be sure do you see this on both public and private teams?

[2019-03-26 06:57] Ashutosh2019 commented on #88
I am the owner of the MS Teams and the document uploaded in it doesn't appear for me only in PnP search result webpart.

But the same result shows in classic Search page, default modern search page as well.  As I understand it points to same result source as classic search page or default modern search page.  Just curious what can be reason behind it.

[2019-03-26 07:06] wobba commented on #88
@Ashutosh2019 get the latest code and it should be fixed.

[2019-03-26 07:06] #88 closed

[2019-03-26 07:09] wobba commented on #88
@Ashutosh2019 for some groups/teams we need to add a specific property named `EnableDynamicGroups=true` to the query to get results. The oob search adds this by default, but it's not really documented anywhere, but we know that it's there. I've had it on my mind to add it for a while, but never got around to it as it hasn't been an issue in my usecases.

I also added the param to make multigeo sea

[2019-03-26 07:10] wobba commented on #56
@Peter-Ross-C still an issue or can we close this one?

[2019-03-26 07:11] wobba commented on #55
Ref #88

[2019-03-26 07:11] #55 closed

[2019-03-26 07:30] Peter-Ross-C commented on #56
Hi,

This can be closed. Deleting the node_modules folder, deleting package-lock.json and then reinstalling the packages seemed to work.

Kind Regards
Peter-Ross Cuthbert

________________________________
From: Mikael Svenson <notifications@github.com>
Sent: Tuesday, 26 March 2019 9:10 AM
To: SharePoint/sp-dev-solutions
Cc: Peter-Ross Cuthbert; Mention
Subject: Re: [SharePoint/sp-dev-solutions] re

[2019-03-26 07:43] #56 closed

[2019-03-26 12:14] Rajrup-net opened #89 "How to fetch user photo in blog post dynamically using react search refiner??"
I have a blog widget where I have used react search refiner to fetch all the blog post. But only thing is author's profile picture is not coming. I want All the posts by users needs to be accompanied with their profile picture. Can anyone help me out please ???

[2019-03-26 14:38] FranckyC commented on #89
Hi @Rajrup-net what managed property are you using? I think you have to make a subsequent call to get the picture based on the author info because it does not surface up in search I guess.

[2019-03-26 14:57] wobba commented on #89
@Rajrup-net you need to create a render template which has a working link along the lines of `/_layouts/15/userphoto.aspx?size=M&accountname=<accountName>`. So if you have account name/login as your refiner (UPN without claims), then you can put that as the `src` in an image tag. You could for example include `AuthorOWSUSER` as a managed property and use something like the sample template below.

[2019-03-26 14:57] #89 closed

[2019-03-26 19:20] Ashutosh2019 opened #92 "ModernSearch (react-search-refiners package) web-part package doesn't have refiner, paging and search navigation webaprt included."
#### Category
- [ ] Question

#### Expected or Desired Behavior
As described in the PnP blog video and description in ModernSearch web-part has refiner, paging and search navigation included. I was using a older version and pulled the latest, I don't see those in my web-part  inventory.

#### Observed Behavior
ModernSearch web-part package doesn't have refiner, paging and search navigation include

[2019-03-26 19:24] Ashutosh2019 commented on #88
Thank you Mikael. I encounter another challenge after pulling the latest code, I don't see refiner, paging and search navigation webpart in my web-part inventory.

[2019-03-26 19:25] FranckyC commented on #92
@Ashutosh2019 Try to uninstall your app completely from your site and then resintall it

[2019-03-26 20:01] wobba commented on #88
They are separate web parts in v3.

[2019-03-26 23:03] vui211 commented on #61
Hi @FranckyC
It doesn't work for us even with "localization enabled" set to yes in Search result web part.
I'm not sure this is problem related to our taxonomy field or search refiners web part.

![image](https://user-images.githubusercontent.com/23225932/55039187-1b947800-5088-11e9-84c4-833cccb0a405.png)

[2019-03-26 23:27] vui211 opened #93 "[Modern Search] Incorrect search query if use "Send query to a new page""
Hi @wobba , @FranckyC
#### Category
- [ ] Question
- [ x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Search result should process query from Search Box and Url string correctly.

#### Observed Behavior
I configured Search Box web part
![image](https://user-images.githubusercontent.com/23225932/55039606-b3df2c80-5089-11e9-88da-272125dd42c2.png)

It works if search term is single word

[2019-03-26 23:50] FranckyC commented on #61
@kachihro It seems the taxonomy format differs from the implemented regex (we use L0#| ...) so it explains why this value is not recognized. Is there anything special with this term? What language are you using?

[2019-03-27 00:44] vui211 commented on #61
@FranckyC  I think you asked me not kachihro. We use English only. Only special thing with this term is it reuses many terms from another term set
![image](https://user-images.githubusercontent.com/23225932/55042435-500f3080-5096-11e9-8c0a-7b878c803653.png)

[2019-03-27 00:47] FranckyC commented on #93
@vui211 should be fixed now.

[2019-03-27 00:49] FranckyC commented on #61
@vui211 Yep sorry, picked up the wrong name ;). Ok maybe I should include this format as well in the regex. Never encountered before.

[2019-03-27 01:01] vui211 commented on #61
Thanks @FranckyC  If it helps refinable property for some documents has couple of values like this Produce;846;#Produce|b438b43d-666b-4ef4-a158-59215589b8a6  because there are multiple crawled properties mapped to refinable one.
![image](https://user-images.githubusercontent.com/23225932/55042934-c1e87980-5098-11e9-88b4-f005956ca849.png)

[2019-03-27 01:05] FranckyC commented on #61
It explains why! You should use a dedicated refinable managed property using the owstaxid... crawled property. Let me know.

[2019-03-27 08:18] YannickRe opened #95 "[ModernSearch] Regression with pagination"
#### Expected or Desired Behavior
If you have multiple pages of search results and select a page, when selecting a refiner I expect to be returned to the first page of search results.

#### Observed Behavior
The selected page "sticks", and when there aren't any search results on that page it will show the no results message and no page selected in the pages webpart.

#### Steps to Reproduce
Steps

[2019-03-27 08:25] wobba commented on #95
@YannickRe  @FranckyC  A thought, should I create a dev branch, and we can merge to master on regular intervals?

[2019-03-27 08:28] wobba commented on #95
Ok, I created `modern-search-dev`, so please target PR's to this branch :)

[2019-03-27 10:54] Rajrup-net commented on #89
@wobba   Thanks a ton.. It's worked a like a charm  :)

[2019-03-27 11:47] FranckyC commented on #95
@wobba definitely yes for the 'dev' branch! @YannickRe yes I refactored this method because I had an issue when a default keyword was present in the URL fragment. The query wasn't executed. Ideally the fix should be in the pagination control itself avoiding to overload the componentWillReceiveProps method.

[2019-03-27 12:01] YannickRe commented on #95
@FranckyC I had something that didn't impact componentWillReceiveProps but it triggered the search request two or three times:
- User enters a query, search request executed
- Updated pagination, search request executed
- Updated refiners, search request executed with previously selected page. Pagination webpart notices that it's a different query (different filters), resets pagination. Search res

[2019-03-27 13:20] FranckyC commented on #95
@YannickRe my change does not fix that. Like I said, I had an issue using URL fragment. I can revert to old version but we have to make sure this scenario is covered. My point is simply we could probably simplify the logic because the componentWillReceiveProps becomes overloaded and hard to read with lot of conditions and exceptions.

[2019-03-27 13:26] wobba opened #96 "[ModernSearch] property pane textboxes lose focus per character"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I expect to be able to type as much as I want in a text box without focus being lost on r-etrigger of search.

#### Observed Behavior
![image](https://user-images.githubusercontent.com/51104/55079272-20fbbd80-509c-11e9-8587-b7728924df58.png)
Each key stroke when specifying for example manage properties remo

[2019-03-27 13:35] FranckyC commented on #96
@wobba must be caused by a focus on the search result WP after a new query. Linked to #95 and componentWillReceiveProps I think.

[2019-03-27 13:37] YannickRe commented on #96
I assume it's because of the last pr by @FranckyC .  My code had:
[code]
but it is changed to remove the if statement. Also, the property pane is reactive.
As a result, each change to a property pane field triggers the search and puts the focus on top of the search results webpart.

Probably need to correctly fix #95 or make the property pane non-reactive.

[2019-03-27 13:40] YannickRe commented on #95
@FranckyC I agree that the componentWillReceiveProps is rather difficult to understand and might need some attention to improve :) But at least now, all the logic to re-render exists in one place :D
If/When we refactor this, we need to be careful to not introduce regressions in functionality.

[2019-03-27 13:50] FranckyC commented on #95
Yes of course, I will revert this change until I found a better way to handle this.

[2019-03-27 16:37] FranckyC commented on #95
Should be back to previous version now @YannickRe

[2019-03-27 16:56] axelgz commented on #93
I'm still seeing the issue after a fresh deployment.
homepage:
![image](https://user-images.githubusercontent.com/48997385/55095624-d7f13c80-508e-11e9-83de-3cf32eacd9bc.png)

Results page:
![image](https://user-images.githubusercontent.com/48997385/55096159-bd6b9300-508f-11e9-8001-2e14ec251353.png)

After hitting Enter in Search Box in Result page it show correct results:
![image](https://user-ima

[2019-03-27 16:56] #95 closed

[2019-03-27 16:57] #96 closed

[2019-03-27 17:10] FranckyC commented on #93
@axelgz Do you use the latest version? we've pushed a couple of minutes ago a new one.

[2019-03-27 17:24] YannickRe commented on #93
@axelgz There is something strange going on in your installation. I tested it on my side, and it works without problems (after the fix from @FranckyC).
![Results](https://user-images.githubusercontent.com/9973962/55097998-451bc680-50bd-11e9-95eb-7a8b33656f1a.PNG)

Now, something I've noticed that might be related: if you have no results, it shows the empty pagination control. This is something I f

[2019-03-27 18:11] axelgz commented on #93
Hi,

I downloaded and re-deployed again. It is working as expected.

Thank you

[2019-03-27 18:14] vui211 commented on #61
Hi @FranckyC
You are right, with correct mapping all works as it should.
Thanks

[2019-03-27 18:14] #93 closed

[2019-03-27 18:15] #61 closed

[2019-03-27 19:04] YannickRe opened #99 "[ModernSearch] Upgrade to SPFx v1.8.2"
I'm planning to start the upgrade of the Modern Search to v1.8.1 of SPFx. Current plan are the following steps, if there are concerns/other approaches etc. let me know before I start ;)
@FranckyC @wobba

#### Todo
- [x] Upgrade to SPFX v1.8.2
- [x] Upgrade to TypeScript v3.3
- [ ] ~Upgrade Office UI Fabric React~

[2019-03-27 19:08] wobba commented on #99
Question is why? Upgrade at some point sure, but what benefits will 1.8 be now? You cannot really go ouifr 6 due to pnp reusable controls still on 5, to limit bundle size for one.

[2019-03-27 19:09] YannickRe commented on #99
Wasn't aware of that. Benefits: probably none, just to keep up to date with the releases.
Good thing I asked first this time ;)

[2019-03-27 19:14] YannickRe commented on #99
Only thing I can think of right now: better/stricter type checking with TypeScript 3.3 but no idea if that would clash with our other dependencies.

[2019-03-27 19:50] wobba commented on #99
@YannickRe you could give it a go, just make sure runtime bundles stay the same. Edit mode is not so important.

[2019-03-27 19:57] YannickRe commented on #99
@wobba I'm stubborn, so I started ;) but it wasn't so straightforward. Current issue is that the "office-ui-fabric" package got removed from SPFx 1.8, which breaks these lines:
https://github.com/SharePoint/sp-dev-solutions/blob/46898e61e6e82d87c3010bf305ded18140970e4e/solutions/ModernSearch/react-search-refiners/spfx/src/webparts/searchResults/components/Layouts/SearchResultsTemplate.scss#L3-L6

[2019-03-27 20:04] wobba commented on #99
Ouif css is quirky. If you manage to make the default templates look good, that's what matters. They're not that great today and should resemble the highlighted wp imo. The other option is to cheat and implement those as custom renderers and not handlebars ;) Have fun and a good planning exercise regardless as we will upgrade at some point. Are we looking at v3 for this?

[2019-03-27 20:10] YannickRe commented on #99
As a built-in (custom) renderer with Ouif React? Or as a separate package?

There is no timeline yet. A lot of things to do, not enough hours in a day and too much variables to commit to a timeline now.
I opened the ticket to get some feedback and decide on an approach when I encounter issues.

[2019-03-27 20:13] wobba commented on #99
Separate ext in the same bundle. And love your energy on this 😀

[2019-03-28 00:08] FranckyC commented on #99
@wobba @YannickRe I agree. Custom renderer is no the priority for now I think, we should improve the default handlebars template first because it's the main benefit of this WP in my opinion.

If someone has designer skills, go ahead to revamp this, even without ouif ;)

[2019-03-28 07:53] YannickRe commented on #99
It turns out that investing some time in open source is my only option to still do actual coding, with a finished result. In my day job, I tend to only do POC's and talks so this gives me some energy 😊

I don't like the handlebars, I'm in it for the custom renderers 😊 but agreed that it's a benefit for some to easily adjust the rendering.

[2019-03-28 08:15] YannickRe commented on #99
Current status: running smooth, like with 1.7 but pretty sure we don't want to merge.

Overview of my approach:
### TypeScript
**Issue**: TypeScript does stricter checking now
![TypeScriptIssues](https://user-images.githubusercontent.com/9973962/55140171-bc8e3c00-5137-11e9-8332-161b566430fe.PNG)

**Resolution**: ootb 1.8 project adds some additional lines to tsconfig.json to surpress this, so I di

[2019-03-28 09:55] wobba commented on #99
Appreciate the feedback on this - and good info for when we do migrate.

[2019-03-28 13:48] metalogique opened #100 "Manage search synonyms"
#### Category
- [ ] Question
- [ ] Bug
- [X] Enhancement

#### Expected or Desired Behavior
As there is no way to import a thesaurus for synonyms in SPO, it would be great to add that functionality to the roadmap using a component-centric or a global list of synonyms.
Possibly something similar to: https://www.eliostruyf.com/a-better-way-for-search-synonyms-in-sharepoint-online-2013-2016/

[2019-03-28 15:38] wobba commented on #100
I've had this on my mind - just haven't had a need just yet to port it over.

[2019-03-28 15:39] metalogique commented on #100
I will take a look at it in the next few days as I have a bit of time on my hands.

[2019-03-28 17:25] wobba commented on #100
@metalogique I suggest a separate solution below the `ModernSearch` folder which will provision the needed list list to the site where you add the app/SPFx solution, as well as implement a provider like the NLP one we have.

This way the install should be pretty easy, and docs on how to manage synonyms can easily be added to the readme.

What do you think?

[2019-03-28 19:40] aboredman commented on #100
(I am the same person as @metalogique , I just realized I was using my generic work account)

@wobba My current idea was to avoid having a SharePoint list to store synonyms. I was leaning toward using a string property in SPFx SearchResult WP with a JSON syntax to define the synonyms as this seems inline with how the selectedproprties and styles are managed for the WP. What's your take on that?

[2019-03-28 19:47] FranckyC commented on #100
Hi @aboredman so you want to add a new 'synonyms' property and build the query dynamically? Should work with a PropertyFieldCollectionData + QueryTemplate. Just be careful of the final query length.

[2019-03-28 19:51] aboredman commented on #100
@FranckyC after a quick search the max query length seems to be 4096 characters. Is that the correct limit?
If so I'll keep that in mind.

[2019-03-28 19:59] wobba commented on #100
Query length is no concern. I'll teach you guys a trick - just add them as FQL in the refinement param 😁 I do this in several posts I have.

JSON is fine but crap for user management of adding/removing synonyms imo. We could easily provide different solutions for this though as they tie into the result wp.

[2019-03-28 20:06] aboredman commented on #100
Nice, the refinement filter approach adds a minimal amount of complexity but more than makes up for it in reliability.

For the synonyms I'll start with the json approach as it seems easier to implement (and as a poweruser I would prefer to manage synonyms in JSON) but I totally get that less technical users would probably prefer something more user friendly.

[2019-03-28 20:11] FranckyC commented on #100
@aboredman Can it be a property pane control (PropertyFieldCollectionData) + external file option like the templates?

[2019-03-29 17:24] coupalm commented on #76
Sorry for the late response. Yes that's exactly it (use query string parameters in my search query). Thanks!

[2019-03-31 13:21] YannickRe commented on #57
Hi @vamsi981

If I understand correctly what you are trying to achieve, I'm afraid that's currently not possible.
You can put a Search Box web part on a page that "reads" from the Page Environment, Query String and URL Fragment and then passes it on to the Search Results web part. If a user changes the query in the Search Box web part, it doesn't update the URL Fragment at the moment.

@wobba @Fra

[2019-03-31 13:25] wobba commented on #57
Shouldn't break anything by switching behavior I think(?) so a toggle seems unne.

[2019-03-31 13:32] YannickRe commented on #57
No, but it would add the search query as a hash for everyone without an option to have the current behavior.

[2019-03-31 13:47] YannickRe commented on #59
@tdwhite0 Your analysis is partly correct. The queryKeywords property is supposed to be absent in the properties export, because it is the fallback property/static value for a dynamic property.
A correct export would have been something like this:
[code]
The root cause is that currently PnP .net (and thus PnP PowerShell) doesn't support exporting and importing web parts with dynamic data connectio

[2019-03-31 13:49] YannickRe commented on #72
**Search pagination**
- In edit mode, when there aren't any results, show the same grey box as the other web parts. Would make it more clear that this web part exists on the page.

[2019-03-31 14:08] FranckyC commented on #57
It could work of course but I think it could also lead to infinite loops or unnecessary calls with wrong WP configuration. Maybe a manual option like 'Save this query as bookmark" in the SB component can avoid this.

[2019-04-02 09:17] tibgcv opened #103 "[ModernSearch] Cannot Find module "readline""
#### Category
- [ ] Question
- [ X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Added the Search Box, Search Filters and Search Results webpart, using default settings.
When searching for a file on the current site collection, it should show the results.

#### Observed Behavior
Getting an error:
[SharePointDataProvider.search()]: Error: Error: Cannot find module "readline"
[SearchCont

[2019-04-02 09:20] tibgcv commented on #103
without the Search Filters webpart I'm getting: Uncaught (in promise) TypeError: e is not a function

[2019-04-02 15:03] FranckyC commented on #103
Hi @tibgcv what version are you using?

[2019-04-02 16:08] murphym215 opened #104 "Gulp Serve error"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
After running 'gulp serve' the expected behavior is for the local workbench to

[2019-04-02 16:23] FranckyC commented on #104
Hi @murphym215 please try with the latest version on the ['modern-dev-search'](https://github.com/SharePoint/sp-dev-solutions/tree/modern-search-dev) branch and let me know.

[2019-04-02 19:59] murphym215 commented on #104
That worked.  Thanks.

[2019-04-02 19:59] #104 closed

[2019-04-02 20:00] wobba commented on #104
@murphym215 dev branch is now also merged with master.

[2019-04-03 07:13] tibgcv commented on #103
version: 3.0.5.0

[2019-04-03 10:53] wobba commented on #103
@tibgcv I pulled down the latest `3.1.1.0` now which builds fine. Try `npm dedupe` after `npm i` and then `gulp`.

[2019-04-03 12:35] BraunJonathan opened #106 "[Modern Search] Date filter"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Very nice additon with this date filter, clearly something our users were really asking for, thank you !!
But i found a few bugs around this functionnality :
- i have several other refiners and when other refiners got recalculate to reflect the results filtered by date, my date choice is not displayed anymo

[2019-04-03 12:49] FranckyC commented on #106
Hi @BraunJonathan Thank you for your feedback. For the first issue, I'll investigate. If could provide me a quick scenario to be able to reproduce this behavior, would be nice. For the second, this is not really a bug but the current implementation logic for the "Panel" layout. Maybe I should display the selected dates as well then. Normally, you should see selected dates by re opening the panel.

[2019-04-03 12:58] BraunJonathan commented on #106
Hi @FranckyC
Thanks for the quick answer !
For the second problem for other refiners, it's the value which is displayed and for the date, it is the technical property value (LastModifiedDateForRetention when my displayname is "Date de modification"). Displaying the selected date would, i think, be the best option though !

For the first problem, i got a bunch of  other refiners and when i use the

[2019-04-03 13:11] BraunJonathan commented on #106
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35366413/55481452-bbbb4580-5622-11e9-8322-91c0f6ba978e.gif)

[2019-04-03 13:17] BraunJonathan commented on #106
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/35366413/55481855-85ca9100-5623-11e9-88b1-eb074f1b2d18.gif)

[2019-04-04 13:04] FranckyC commented on #106
@BraunJonathan Thanks for the capture. I'm not able to reproduce your issue but I identified an other bug where the filter value is lost when you collapse/expand the refiner header. Maybe it is related. I'm working on it but at first glance, it is not that simple than it looks like.

[2019-04-04 13:55] BraunJonathan commented on #106
@FranckyC Yes i've got this bug too, could be the same problem as both look like a refresh problem. I had a look at the code, and it did not look simple to me either ;-)
I guess the dateRange component must be recreated somewhere along the rerendering way...

[2019-04-04 14:01] FranckyC commented on #106
@BraunJonathan The issue is on the Office UI Fabric 'GroupedList' component who mount/unmount the children components every time you collapse/expand so they lose their state. Don't know if it is a bug or the expected behavior. I'll keep you posted.

[2019-04-04 14:42] BraunJonathan commented on #106
@FranckyC Ok thanks for the diagnosis !
Seems indeed tricky to solve... Maybe you can use  the selected filters to reset the correct value when redisplaying the groupList ?
Regarding my initial problem, when i filter my results, sometimes when the number of groups changes, the Linkpanel seems to not be able to find out which Group was open or not and then shows everyone collapsed, resulting in the

[2019-04-04 15:02] BraunJonathan commented on #106
@FranckyC
Ok i got the original problem which is quite simple... When the refinementResult length changes (like when all results do not have the same metadata), the number of groups isn't the same anymore and the id, which is used to "store" the collapsed info changes... It is not found into the expandedGroups state property and therefore is shown collasped running into the other bug you noticed..

[2019-04-04 15:55] FranckyC commented on #106
Thank you for the update. I'll take a look ASAP. Also, if you find a way to solve this issue, feel free to make a PR ;)

[2019-04-04 22:59] FranckyC commented on #106
@BraunJonathan Should be fixed now. Just let me know if everything work as expected on your side.

[2019-04-05 05:59] Rajrup-net opened #108 "Thumbnail picture of is not coming using search refiner"
I have created one news article page and there I have added one Thumbnail picture. Now when i am trying to fetch the the news post in other page using search refiner everything is coming except that thumbnail pictute.

I have added PublishingImage as managed propoerty.
Here is the code:
[code]
But the picture is not coming. I did inspect element.. I am getting picture url  but still picture is not

[2019-04-05 06:01] wobba commented on #108
This is unrelated to the search web part. You have an absolute link to `/news/PublishingImages/Chaand-Nagpaul.jpg` which resolves to `https://tenant.sharepoint.com/news/PublishingImages/Chaand-Nagpaul.jpg`. If your image is not at this location, then not much the search web part can do.

[2019-04-05 06:01] #108 closed

[2019-04-05 06:06] Rajrup-net commented on #108
@wobba Thumbnail picture along with post dynamically has to come. I cannot give absolute url there

[2019-04-05 06:19] BraunJonathan commented on #106
PR is not merged yet but i looked at the commits and it seems ok, i was working in that direction yesterday evening ;-)
Thanks for the really fast fixes !!

[2019-04-05 06:33] wobba commented on #106
@BraunJonathan I'll merge once merge conflicts are resolved.

[2019-04-05 06:36] BraunJonathan commented on #106
@wobba Yeah, i've seen that, fixes were already lightning fast so i can wait a little, no worries ;-)

[2019-04-05 07:31] okms commented on #108
Just to push you gently in the right direction....

@Rajrup-net PublishingImage is raw html, not just an url. If you want to render it as-is in a handlebars template, you must use {{{ }}} (triple curly braces), like so

[code]

if you need to do anything else with PublishingImage, parse the html into a DOM element (does not need to be actually injected into the document).

[2019-04-05 07:55] Rajrup-net commented on #108
@okms Thanks Man.. Thanks a lot.. I didnt know that before. Thanks again. Just a small query as I am little bit inquisitive how to add css for this {{{PublishingImage}}} as the picture is coming very big. I have to resize it. I am very knew into this that's why i get stuck.

[2019-04-05 09:13] PerIngeH opened #109 "Enhancement: Office UI Persona and PersonaCard Layout"
#### Category
- [x ] Enhancement

I am trying to build a organizational search. See that available Office UI items are those of List and Label.
Is it possible to include the Office UI Persona and PersonaCard:
https://developer.microsoft.com/en-us/fabric-js/components/personacard/personacard

[2019-04-05 09:43] wobba commented on #109
If you manage to accomplish the markup it could be possible. Also take a look at the persona renderer at https://github.com/SharePoint/sp-dev-solutions/tree/master/solutions/ModernSearch/react-search-refiners-renderer

[2019-04-05 13:23] FranckyC commented on #106
@wobba @BraunJonathan ready to merge

[2019-04-05 13:37] #106 closed

[2019-04-05 14:08] BraunJonathan commented on #106
@FranckyC it seems you forgot a semicolumn in LinkPanel.tsx but otherwise, it seems to work like a charm :-)
Thanks a lot for this and for the whole work !!

[2019-04-05 16:34] FranckyC commented on #106
De rien @BraunJonathan ;)

[2019-04-06 05:34] YannickRe commented on #59
@GeoffE1e6 @tdwhite0 It got released with [SharePointPnPCoreOnline ](https://www.nuget.org/packages/SharePointPnPCoreOnline/3.8.1904) and [SharePointPnPPowerShellOnline](https://www.powershellgallery.com/packages/SharePointPnPPowerShellOnline/3.8.1904.0) 3.8.1904! Have fun exporting ;)

@wobba I think this can be closed now.

[2019-04-06 06:49] #59 closed

[2019-04-07 03:25] coupalm opened #114 "Refiner web part does not translate terms"
#### Category
- [ ] Question
- [ X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Refiner web part should translate terms as with the search results web part

#### Observed Behavior
Terms are not translated, in the refiner web parrt, using translation in the terms store.

#### Steps to Reproduce
- Have terms that are translated.
- Put search results and refiner web part on the screen.
-

[2019-04-07 23:09] FranckyC commented on #114
Hi @coupalm. Have you configured your search managed properties as explained in the documentation (README)? You need to use ows_taxId_xxx crawled properties to get the translation work. Also don't forget to enable the localization flag in the WP property pane as well.

[2019-04-08 08:05] YannickRe commented on #76
FYI: I started working on this.

[2019-04-08 14:24] coupalm commented on #114
Ok, I had a brain freeze... Did not use, in the refiner web part, the taxId managed property.
Just for my info, in the search result web part result template, I'm using the theme primary color but it does not work. In my theme the primary color is orange and in the web part it is blue. There is no blue in my theme ...

<div class="ms-bgColor-themePrimary">

Thanks

[2019-04-08 15:19] wobba commented on #114
@coupalm can you paste the template you are using?

[2019-04-08 15:24] wobba commented on #114
@coupalm think I found the error. Someone updated microsoft/sp-office-ui-fabric-core to the latest version. It has to stay on a 1.6.0 to work. I'll edit package.json for this.

[2019-04-08 15:26] wobba commented on #114
Pull down the dev branch and retry.

[2019-04-08 15:27] coupalm commented on #114
Ok thanks for the quick fix!

[2019-04-08 15:59] #114 closed

[2019-04-10 07:20] vamsi981 commented on #57
@YannickRe @FranckyC @wobba  is it possible to get search as bellow [ReactiveSearch](https://opensource.appbase.io/reactivesearch/demos/ecommerce/) with URL params for filters and search text so that user can bookmark or share the output to other instead of others searching from start.

[2019-04-10 07:55] wobba commented on #57
@vamsi981 anything is possible if it's implemented correct :) If you have a searchbox and pick up a query param for it, that can indeed be shared.

[2019-04-10 08:00] YannickRe commented on #57
It would mean making sure that the querystring/url params are parsed and applied upon entering the page + adjustments to SearchBox, SearchRefiners and SearchPagination to add changes to the url (making sure that we don't introduce loops or break existing behavior).

Not something you create on a lazy Sunday afternoon 🙂.

[2019-04-10 08:04] coupalm opened #118 "Embed web part data source using query parameters in Flow-Formatting examples not working"
#### Category
- [X] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
With Modern Embed Web Part using the new data source option, I should be able to use the query string parameters when connected to the page environment. In the example in the flows-formatters-pages-siteScripts solution they refer to a url parameter with the following syntax: [$.UrlParameter] in the readme f

[2019-04-10 10:36] wobba commented on #57
@YannickRe could have a special param: `?startquery=foo` which is only read upon first load - or, always use `#query=`, which worked fine with 2013  `searchpage.aspx#k=something`. But it has to work with the current architecture.

[2019-04-10 14:27] coupalm opened #119 "Modern Search: Search box with a "Clear" option"
#### Category
- [ ] Question
- [ ] Bug
- [x ] Enhancement

#### Expected or Desired Behavior
When the search results web part is using a default search query (ex: *), the web part will automatically display results. Then, if the user enters a search criteria in the search box web part, the results will be returned. If he wants to start again and see the same default results, he could click on a "C

[2019-04-10 14:33] coupalm opened #120 "Modern Search: Refiner WebPart - Refiners expanded by default"
#### Category
- [ ] Question
- [ ] Bug
- [X] Enhancement

#### Expected or Desired Behavior
It would be useful to be able to specify if we want the refiners expanded or not in the search refiners web part config.

#### Observed Behavior
Refiners are always collapsed by default.

Thanks.

[2019-04-10 20:00] YannickRe commented on #119
We mentioned this in #72 too, and I need it too so as soon as I have some time I will put it in 😉

[2019-04-10 20:01] YannickRe commented on #120
Would you like an all or nothing switch, or a setting per refiner?

[2019-04-11 00:34] coupalm commented on #120
In my use case, the option could be applied to all refiners. Normally I will use this option when there is one or two refiners with short lists of values.  If it is not a lot more effort, per refiner would be great otherwise all refiners will be good for me.

Thanks.

[2019-04-11 01:33] FranckyC commented on #120
@coupalm this could be something doable. I will add it to the roadmap.

[2019-04-11 09:25] schneika opened #121 "Would it work with SharePoint 2019"
Anybody experiences with SPFx Build in SharePoint 2019 or not possible?

#### Category
- [x] Question
- [ ] Bug
- [x] Enhancement

Thanks for your contribution! Sharing is caring.

[2019-04-11 10:02] frankok opened #122 "[ModernSearch] Ability to redirect standard search box to this solution"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

#### Expected or Desired Behavior
The standard search box in the upper left corner on all pages allows users to sea

[2019-04-11 10:37] wobba commented on #122
Hi,
I have to close this as redirecting the oob search box is outside of our control. Sure it can be DOM hacked, but we're better off waiting for a proper solution from Microsoft. I can say as much as it's something many want, so follow public news going forward from Microsoft.

[2019-04-11 10:37] #122 closed

[2019-04-11 10:40] frankok commented on #122
OK, fair enough Mikael,
Thank you for the information and swift feedback! :-)

[2019-04-11 11:50] PerIngeH commented on #109
The persona render works fine :-)

[2019-04-11 11:50] #109 closed

[2019-04-11 12:40] wobba commented on #121
@schneika which solution are you thinking about? In general the solutions will only work on SPO if they are using SPFx > 1.4.1.

* 2016 support SPFx v1.1
* 2019 support SPFx v1.4.1

If you can downgrade the solution to either of those, you can in theory make them work - if they use features introduced after 1.5.1, then it's a bit harder.

[2019-04-12 09:43] RuneHanssens opened #124 "React Search Refiners Renderers JavaScript heap out of memory after adding new extension"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I'm trying to add a new extension to the solution so I can make my own custom coderenderer. I use the yeoman sharepoint generator and expect a dialog with a message to be printed out.

#### Observed Behavior
I can start the solution just fine and after I add a new extension using the yeoman sharepoint gener

[2019-04-12 12:56] PiWiBardy opened #125 "Can't build MultiingualPages project on windows 10"
#### Category
- [ ] Question
- [ X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
The project MultiingualPages  should package :)

#### Observed Behavior
Unable to package the solution: getting the error :
Could not find Element Manifest: sharepoint\assets/clientsideinstance.xml

#### Steps to Reproduce
Clean / Build and package the solution through on Windows 10 :

gulp clean && gulp b

[2019-04-12 13:02] wobba commented on #125
@juliemturner any insights?

[2019-04-12 13:06] wobba commented on #125
I believe the solution to this should be to not include the SharePoint folder in the repo, asn it's a build folder. @juliemturner?

[2019-04-12 16:23] #120 closed

[2019-04-12 18:03] YannickRe commented on #125
@wobba The SharePoint folder is a build folder, except for the "assets" subfolder which contains the necessary xml files for an extension to be activated on a site.

@PiWiBardy I don't have an issue with building and packaging this solution, after removing the package-lock.json. I also had to make the adjustments explained below to package.json and do a clean npm install.

@juliemturner It might b

[2019-04-12 18:14] YannickRe commented on #124
@RuneHanssens I just tried this by adding a new Application Customizer extension to the existing solution, and running `gulp serve --config=helloWorld`. I didn't encounter any issues.

From your package.json file, I suspect you have SharePoint Framework Yeoman Generator v1.8.0 installed. The following line is new since v1.8:
`"@microsoft/rush-stack-compiler-2.7": "0.4.0"`
Currently, due to issues

[2019-04-12 18:55] wobba commented on #124
We've seen memory issues with other larger SPFx projects and I've encountered this myself once with this project running 1.7.1. I'll find details on a workaround later when I'm on my pc.

[2019-04-12 18:56] wobba commented on #125
I'm fine with any proper cleanup PR on this one.

[2019-04-13 13:39] PiWiBardy commented on #125
If u found a better solution close my pull request and submit ur’s @wobba

[2019-04-13 19:26] #125 closed

[2019-04-13 19:32] wobba commented on #124
For 1.8 add this or similar in package.json:
 
"bundle:dev": "cross-env NODE_OPTIONS=--max_old_space_size=8192 gulp bundle",
"bundle:prod": "cross-env NODE_OPTIONS=--max_old_space_size=8192 gulp bundle --ship",
 
this will allocate more memory for building.
 

[2019-04-14 19:42] RuneHanssens commented on #124
Indeed I have the yeoman 1.8 generator... I will try out a previous version. Thanks!

[2019-04-15 20:50] wobba commented on #124
@RuneHanssens can we close this one? And feel free to try my suggestion as well.

[2019-04-16 07:53] RuneHanssens commented on #124
The other solution didn't work for me and yes you can close this one. Thanks!

[2019-04-16 08:52] #124 closed

[2019-04-16 09:20] wobba commented on #124
@RuneHanssens Take a look at https://github.com/SharePoint/sp-starter-kit/blob/dev/solution/package.json and also the readme file. You have to use `npm run...` to execute those.

[2019-04-16 13:14] RuneHanssens commented on #124
@wobba forgot to mention that the issue was indeed the yeoman version and it has been resolved now.

[2019-04-17 15:00] Famidar opened #132 "Intellisense not working in Column Formatter"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Installed the Column Formatter in Sharepoint Online.  Created a web part for it

[2019-04-18 03:11] coupalm commented on #119
Working great! Thanks.

[2019-04-18 03:35] coupalm commented on #72
Other improvements suggestions:

- Refiners: Display hierarchical structure of managed metadata terms (like [Elio Struyf refiners example](https://github.com/SPCSR/DisplayTemplates/tree/master/Search%20Display%20Templates/Refiners/Managed%20metadate%20refiner))
- Refiners: Display description of  managed metadata terms on mouse hover terms

-Search Box: Configurable managed properties drop down. C

[2019-04-18 06:12] chinthaka321 opened #133 "LinksAndHandlebarsTemplate cant build"
#### Category
- [ ] Question

#### Expected or Desired Behavior
npm install
gulp build
gulp serve

When above commands run solution should run without any issues.
#### Observed Behavior
ran npm install didn't download files to node_modules folder
Had to remove package-lock.json to run npm install
then ran gulp build and it gave following errors.

[16:10:16] Error - [tsc] src/webparts/handlebarTemp

[2019-04-19 13:18] quarterhorse opened #136 "Add Hub/Subscriber Scoping Capability"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [ ] Bug
- [X] Enhancement

#### Expected or Desired Behavior
Please add a new custom query variable to represent the hub scope and some means

[2019-04-19 18:41] juliemturner commented on #133
Best bet is to remove both package-lock.json and the node_modules folder and then do an npm install.

[2019-04-19 19:24] wobba commented on #133
`npm dedupe` should suffice instead of deleting the node_modules folder after npm install.

[2019-04-19 19:27] wobba commented on #136
On the hub itself you should be able to use `{Site.ID}` as the hub id is the hubs site id. On an associated site we'll look into it.

[2019-04-20 22:14] quarterhorse commented on #136
Much appreciated - Yes, you can use site.id, but it won't search the hub and subscribers.  The big idea for search with the hub stuff is they create a pseudo "search scope" consisting of the hub and all subscribers.  Additionally, a site collection can change the hub it's subscribed to in which case the "search scope" is supposed to change.   Same thing if additional site collections subscribe to

[2019-04-21 02:22] mag210 commented on #119
I wish I'd seen this before implementing the same improvement lol! Looks good. One possible suggestion would be to also reset to the default search if the user simply deletes his query.

[2019-04-21 05:36] YannickRe commented on #119
@mag210 We were doing a lot of improvements in a short time, with multiple people, so currently we target a dev branch. This might be the reason you missed it.
Not sure when @wobba plans to release to master.

Just clearing feels “weird” to me: clear + enter, clicking clear button or hitting escape key feel more natural. We also need to hit enter to execute a normal query.

[2019-04-21 06:04] wobba commented on #136
@quarterhorse I know well how hubs works and org wide search. I have some info at https://www.techmikael.com/2018/04/working-with-hub-sites-and-search-api.html.

So, at the hubsite filter on `DepartmentId:{Site.ID}` and you get results from the hub and associated sites. On the subscriber sites we need a variable to get the site id from the hub. So a good enhancement indeed.

[2019-04-21 06:08] wobba commented on #119
We could do monthly releases, or I'll merge when you @YannickRe and @FranckyC feels it's stable enough :)

[2019-04-21 11:14] mag210 commented on #119
@YannickRe  thanks for this. I think the roadmap feature is a good idea, and maybe needs to show on the Readme so developers can see what is coming next and whether anything they might want to do is already in the pipeline for the community. Monthly release would seem to be the way to go?

In terms of the clearing behavior, I guess depends on personal preference / what users are use to. I used the

[2019-04-21 11:59] quarterhorse commented on #136
@wobba You're absolutely right.  Your last sentence in your first response was what I was clumsily trying to point out - the subscribers - which is what you already pointed out but I missed somehow.  I should probably not to post after a long day.

[2019-04-21 12:16] wobba commented on #136
Np 😁

[2019-04-21 20:21] mag210 opened #138 "Hash in URL when using Search box web part"
#### Category
- [ ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior

It should be possible to use the Searchbox webpart to send a user query to the existing SharePoint Modern Search Results page. To do this, the webpart is configured to send a query to a new page and the following URL is used:
https://[mytenant.sharepoint.com]/sites/[mySite]/_layouts/15/search.aspx/siteall

[2019-04-23 02:36] FranckyC commented on #138
Hi @mag210. With latest version, the hash '#' is used instead the 'q' parameter by default. You can connect your target search results Web Part or search box to the Page Environment->Query String-> URL Fragment data source to grab the keywords. Then. in the other search box, use the page URL without query string parameters (ex: https://<site>/SitePages/Search-Page.aspx). The query text will be sen

[2019-04-23 04:05] YannickRe commented on #138
@FranckyC that’s the case when you use “our” Search Results webpart, but it seems @mag210 wants to send queries to the default Search results page of SharePoint.m (which is hardcoded to use q parameter).
Correct @mag210?

[2019-04-23 04:09] YannickRe commented on #99
I went ahead and tried the upgrade with v1.8.1 since it should fix the loadLegacyFabricCss bug. Currently hitting a new issue with regards to dynamic data in the hosted workbench only, find more info at https://github.com/SharePoint/sp-dev-docs/issues/3820

[2019-04-23 06:17] wobba commented on #138
That's how I read it as well, how to use pnp searchbox and have the query be sent with `q=<terms>` to an oob page.

[2019-04-23 06:19] #119 closed

[2019-04-23 06:20] wobba commented on #121
I'll close this as no feedback has been provided regarding which project you are referring to.

[2019-04-23 06:20] #121 closed

[2019-04-23 06:20] #92 closed

[2019-04-23 06:22] #100 closed

[2019-04-23 08:15] mag210 commented on #138
@yannickRe that's correct yes. So it's a use case where we use the pnp Search box and have it point to the out of the box (modern) Search Results page. We were doing this with an older version of the webpart at the company I work for. The reason was to leverage the people search that out of the box handles quite nicely but have our own custom search box where we can control style, query suggestion

[2019-04-23 16:19] YannickRe commented on #138
It has been on my radar to improve on this, allowing a choice between hash or querystring parameter (and giving the choice of parameter).
You are welcome to submit a pull request, otherwise I’ll look into it when time permits!

[2019-04-23 19:10] FranckyC commented on #138
My bad, I just misunderstood ;). @YannickRe you're right, an option in the search box would be a good solution.

[2019-04-23 19:11] YannickRe commented on #138
I’ll make the hash default 😉

[2019-04-24 07:58] YannickRe commented on #136
I submitted a PR that will allow you to solve this use case, but with a broader approach. It introduces a PageContext search token, that allows you to extract/inject information from the legacyPageContext object into your query template. In your case, that would mean using: `DepartmentId:{{PageContext.hubSiteId}}`

[2019-04-24 11:31] mag210 commented on #138
Sounds good to me, will hopefully have some to look at a PR this evening. Agree hash should be default!

[2019-04-24 14:48] YannickRe commented on #76
@wobba This one can be closed, I think.

[2019-04-24 14:50] YannickRe commented on #70
@FrankyC is this still relevant now that you created the Search Verticals webpart? Functionality seems similar.

[2019-04-24 15:46] #76 closed

[2019-04-24 15:47] FranckyC commented on #70
@YannickRe the concept quite different and I didn't want to refactored the search navigation component totally. The search verticals was needed for my project so that's why I created a new WP. @taraldga what do you think? Does it work for you if you replace the search navigation WP by the search verticals?

[2019-04-24 21:44] chinthaka321 commented on #133
I made source code path more shorter and did the npm install it worked. But now i'm getting following error when I do npm build . It seems typescript error.

Error - [tsc] src/webparts/handlebarTemplateDisplay/HandlebarTemplateDisplayWebPart.ts(112,17): error TS2322: Type 'TemplateSpecification' is not assignable to type 'string'.
Error - [tsc] src/webparts/handlebarTemplateDisplay/HandlebarTempla

[2019-04-24 21:58] chinthaka321 commented on #133
In the page https://github.com/SharePoint/sp-dev-solutions/tree/master/solutions/LinksAndHandlebarsTemplate prerequisites section its asking for to download camljs. Do we really need it? if then what are the steps I can integrate camaljs to the solution.

Prerequisites
Note that you will need to download and host a CAMLJS javascript library (https://github.com/andrei-markeev/camljs/blob/master/Cam

[2019-04-25 05:29] #136 closed

[2019-04-29 08:11] taraldga commented on #70
Hi,
There might be some implications on our projects if we remove the functionality, but this is a good and logical way to improve on the experience of the application as a whole. Lets go for it!

[2019-04-30 17:10] sympmarc commented on #136
I'm trying to use the `DepartmentId:{Site.ID}` trick in a page in the Hub Site, and I can't seem to get it to work. I must be doing something stupid, but is that the exact syntax? I get no results with that phrase in the Query template. Without it, everything works as expected.

What I'd like to use is:
`{searchTerms} PromotedState=2 DepartmentId:{Site.ID}`
So, all news in the Hub Site scope.

[2019-04-30 17:12] YannickRe commented on #136
Try double parenthesis, as the hubSiteId is stored in the index with the parenthesis. You can also try the PageContext token, it works in the hubsite and in the hubsite joined sites.

[2019-04-30 17:16] sympmarc commented on #136
Do you mean `DepartmentId:{{Site.ID}}`? That doesn't seem to work, either. Note that I think I took my copy before your pull request.

[2019-04-30 17:21] YannickRe commented on #136
Yes, that’s what I meant. On my phone, and I can’t seem to find the backticks for markdown code...

If you aren’t using the latest version from dev branch, the PageContext token won’t be there obviously.
The Site.ID token should work, but if your site is just recently promoted to a hubsite it might need some time to reindex with the correct id.

I’ll check tomorrow, in the mean time maybe you can

[2019-04-30 17:23] sympmarc commented on #136
Thanks, @YannickRe. It's a Hub site which has existed for more than a week, so I don't think it's timing. Like I said, I feel like I'm doing something dumb. I'll see if a hard-coded site GUID will work in the meantime.

[2019-04-30 19:58] wobba commented on #136
@sympmarc Can you check the network trace of the_api/search call and see if the returned result resolves the Site.ID token when used in the query template? Look for the modified query part.

[2019-04-30 21:26] sympmarc commented on #136
It does indeed resolve the Site.ID token.

`https://tenant.sharepoint.com/sites/Inside/_api/search/query?QueryText=%27((DepartmentId:dcd5de48-594f-4cb7-88ee-2793fbdb6deb)%20OR%20(DepartmentId:{dcd5de48-594f-4cb7-88ee-2793fbdb6deb}))%27&QueryTemplate=%27{searchterms}%20(contentclass=STS_Site%20OR%20contentclass=STS_Web)%27&SelectProperties=%27SiteId,WebId,Path,DepartmentId,Title,IsHubSite%27&Enable

[2019-04-30 21:27] YannickRe commented on #136
I did some investigation with the search query tool, and I'm thinking it's a new bug in SPO but I'll leave it up to @wobba to verify ;)

All the items in my HubSite have:
- `DepartmentId: {02a133ae-b17a-40e7-9cbd-a8f07fa02868}`
- `SiteId: 02a133ae-b17a-40e7-9cbd-a8f07fa02868`
- `WebId: d9bc8cd4-2502-443b-9f99-e1c22ed0febf`

Using the search query tool, I submitted:
- `searchTerms: *`
- `QueryTempl

[2019-04-30 21:40] sympmarc commented on #136
Note that the or'ed part of the query was not because of my KQL. I'm using this as my default query:

`PromotedState=2 DepartmentId:{Site.ID}`

That seems to be expanded to:

`((DepartmentId:dcd5de48-594f-4cb7-88ee-2793fbdb6deb) OR (DepartmentId:{dcd5de48-594f-4cb7-88ee-2793fbdb6deb}))`

[2019-04-30 21:45] YannickRe commented on #136
I think something got mixed up when you copy pasted (and trying out some hardcoded values), because `DepartmentId: {Site.ID}` doesn't normally expand to the or'ed statement.

The query you posted doesn't contain any tokens:
[code]
Decoded this shows:
- QueryText: `((DepartmentId:dcd5de48-594f-4cb7-88ee-2793fbdb6deb) OR (DepartmentId:{dcd5de48-594f-4cb7-88ee-2793fbdb6deb}))`
- QueryTemplate: `{sear

[2019-04-30 21:54] sympmarc commented on #136
I wonder if the properties aren't being fully flushed when I make changes? Or it could be a caching problem.

 I'm trying to use the DepartmentId:{Site.ID} in both the **Default search query** (property page 1) and the **Query template** (property page 2). This may be where I'm doing something stupid.

In words, what I want to do is allow the user to search for News pages within sites associated w

[2019-04-30 22:06] YannickRe commented on #136
It’s a valid scenario:
- you’ll need both the Search Box and the Search Results webpart
- in Search results you connect to Search box, and optionally set a default query (page 1)
- in Search results you set `{searchTerms} PromotedState=2 DepartmentId:{{SiteCollection.ID}}`

That should be enough, but because of the issue I described, all tokens currently return the web id instead of site id. This

[2019-04-30 22:16] sympmarc commented on #136
I've got it all wired up just fine, with a search box, refiners, and pagination. It all works a charm until I add the DepartmentId filter. I know it's @wobba's fault somehow.

[2019-05-01 09:19] wobba commented on #136
@sympmarc see that second departmentid filter you have..it still has {} around it. Can you try the same query in the query tool?

I simplified away the implicit OR's and AND, and changed contentclass to use : and not = as I've seen this fail at times (not knowing why)

[code]

[2019-05-01 10:00] wobba commented on #136
@sympmarc Issue is that all of these resolve to the web id, not the sc id :( Tried in the query tool just now.

` {Site.ID} {SiteCollection.ID} {Web.ID}`

This is clearly a bug, and someone should file it with Microsoft. If it had resolved correctly the following template should be working:

`DepartmentId:"{{SiteCollection.ID}}"` <- double braces due to the managed property containing them - weird

[2019-05-01 10:07] YannickRe commented on #136
Hmm, so you are seeing the same behavior as I wrote in https://github.com/SharePoint/sp-dev-solutions/issues/136#issuecomment-488121865

I’ll try to do a write up on the SP-dev-docs github later today.

[2019-05-01 14:42] sympmarc commented on #136
Thanks, guys. i'll try the PageContext instead. If the wrong GUID is coming back, then it sorta makes sense I couldn't get it working.

I'll update to the latest, as I'm not sure I got @YannickRe's latest PR in my copy.

[2019-05-01 14:45] wobba commented on #136
@sympmarc go with the dev branch to be sure :)

[2019-05-01 16:25] sympmarc commented on #136
With the latest code, this works!
`{searchTerms} DepartmentId:{{PageContext.hubSiteId}} `
(dev branch)

[2019-05-02 08:38] mrik23 opened #143 "Modern search handlebars template getDate format not working"
@FranckyC @wobba

#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Date should be formatted when using getDate token in handlebars template.

`<span>{{getDate BirthDay "MMMM DD"}}</span>`

#### Observed Behavior
The date formatting is breaking in some cases, once it doesn't display correctly in a browser, it seems like I can't get it to have it working ag

[2019-05-02 10:35] wobba commented on #143
@mrik23 Date type managed properties return data on the form `2018-09-10T06:29:25.0000000Z`. If you use automatically created date properties like `CreatedOWSDATE` it works just fine.

[2019-05-02 10:37] wobba commented on #143
I updated the docs to reflect this.

[2019-05-04 00:42] #70 closed

[2019-05-06 13:49] ChrPed opened #144 "Multilingual Pages: Cannot read property 'length' of undefined - MultilingualPanel"
#### Category
- [ ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When clicking the button "Language Details" the "Multilingual Page Details" should be shown

#### Observed Behavior
Nothing happens and the following error is logged in the console:
Message: TypeError: Cannot read property 'length' of undefined - MultilingualPanel

#### Steps to Reproduce
1. gulp bundle --

[2019-05-06 13:58] sympmarc opened #145 ""Expand filter by default" does not "take""
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When the "Expand filter by default" checkbox is checked for a specific refiner, I expect it to be expanded on page load

#### Observed Behavior
Only the last refiner in the list seems to have the correct behavior (assuming all my refiners have the box checked).

#### Steps to Reproduce
Add a refiner Web Par

[2019-05-06 14:10] FranckyC commented on #145
Hi @sympmarc. You're right, I was able to reproduce this issue. I'll try to fix this asap. Thanks for reporting!

[2019-05-06 19:38] FranckyC commented on #145
@sympmarc should be fixed by now. You can pull my branch to test it out right now or wait for the merge in the modern-search-dev branch. cc @wobba. Thanks!

[2019-05-06 19:41] FranckyC commented on #143
Does it work for you @mrik23?

[2019-05-06 19:50] #145 closed

[2019-05-07 13:51] coupalm commented on #72
Refiner: For managed metadata, provide a third sorting option: Use manual terms sort order defined in term store.

[2019-05-08 09:52] h3nn3 commented on #144
Thanks @ChrPed. This helped me to move on testing

[2019-05-08 15:51] RMcode opened #147 "Help Please!!! Modern Search WebPart Not working on SharePoint on-premise 2019"
I am trying to use the Modern Search WebPart this to an on-premise SharePoint 2019

I have created a new project for SharePoint 2019 on-prem which give me the 1.4.1 spfx version
I have also downgraded the React packages to react 15 from react 16
as react 16 didn't work for me

#### Category
- [ ] Bug

#### Expected or Desired Behavior
To be able to use this on SharePoint on-premise 2019

#### Obse

[2019-05-08 16:31] wobba commented on #147
For one, calm down.

Secondly we use features of SPFx which is not present in SPFx v1.4.1 which is the version SP2019 uses. Feel free to grab/fork the code and make it work for SPFx v1.4.1, as this will not be a focus for this project going forward.

[2019-05-08 16:31] #147 closed

[2019-05-08 16:35] FranckyC commented on #147
@RMcode This Web Part relies heavily on the SPFx dynamic data feature which is not available in the 1.4.1 version unfortunately. Making this work for SharePoint on-prem would be a consequent work and not relevant for now. All we can do is wait for an SPFx version upgrade for On-Prem :(

[2019-05-08 16:44] wobba commented on #147
(My gut feeling is that the likelihood of SPFx being updated for on-premises is probably slim unless there is a huge demand)

[2019-05-08 21:02] dpc80111 opened #149 "Deploying App into Sharepoint"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ X] Question
- [ ] Bug
- [ ] Enhancement

#### Question

Where can I find step by step directions to deploy the app into our tenant for use.  I am not a dev

[2019-05-09 05:40] wobba commented on #149
@dpc80111 which solution are you referring to in this repository?

[2019-05-09 13:16] dpc80111 commented on #149
My sincere apologies for not including that, its the Modern Search; react search refiners repository

[2019-05-09 13:31] FranckyC commented on #149
@dpc80111 You can refer to the official SPFx documentation to generate the package:
- [Setup tenant](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-developer-tenant)
- [Setup dev env](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment)

Basically you will need to bundle and generate the package using `gulp bundle --ship` and `gulp package-sol

[2019-05-09 13:35] wobba commented on #149
We're also planning to package up a release for download soon, which simplifies it a bit.

[2019-05-09 15:09] sympmarc opened #150 "Add User Profile Properties to Modern Search"
#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

#### Desired Behavior
In the Modern Search Web Part, we can specify KQL with tokens for the current user. However, those tokens are limited to what is already in the page (User.Email, User.Name, etc.) There are many use cases where we would like to filter based on the user's Department or Location - data in the User Profile.

The goal would

[2019-05-09 15:30] FranckyC commented on #150
Good suggestion @sympmarc. Put it on the roadmap. Feel free to make a PR if you have something already ;)

[2019-05-09 16:02] dpc80111 commented on #149
Thanks FranckyC but remember I am not a developer:)   Wobba, when you say soon, do you have an actual ETA on delivery?

[2019-05-09 16:05] wobba commented on #150
This should already work as it is part of the oob query variable functionality. If this fails for some reason, then a support ticket might be the better way(?) instead of reimplementing this client side.

[2019-05-09 16:11] wobba commented on #149
Maybe tomorrow actually.

[2019-05-09 17:26] sympmarc commented on #150
Could you explain how it should work or point me to something in the docs?

[2019-05-09 17:53] sympmarc commented on #150
Duh. This:

{User.property} | Any property from the user profile of the user who issued the query — for example, SPS-Interests, including custom properties.
-- | --

Will test it out.

[2019-05-09 19:43] FranckyC commented on #150
Didn't know it actually already supported. Good to know then ;)

[2019-05-09 20:11] wobba commented on #150
All in
https://www.techmikael.com/2014/05/s15e03-query-variables-constant-trouble.html
;)

tor. 9. mai 2019 kl. 21:43 skrev Franck Cornu <notifications@github.com>:

[2019-05-09 20:31] vshabunya opened #151 "Partial word wildcard searching automatically without the *"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [X] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Results to populate in the search results page by searching partial words.
![Scre

[2019-05-10 08:15] wobba commented on #149
Release published https://github.com/SharePoint/sp-dev-solutions/releases/tag/v3.3.2

[2019-05-10 12:54] bartvermeersch commented on #99
Not yet supporting spfx v1.8 also results in not being able to build using NodeJS LTS version 10? According to https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment NodeJS LTS version 10 can now be used. Or is this caused by something issue? Thanks!

[2019-05-10 20:21] YannickRe commented on #99
@bartvermeersch Node v10 is supported from version 1.8.2 of SPFx. Since this solution isn't upgraded yet, it requires 1.7.1 and thus doesn't support Node v10.
Upgrade to 1.8.0 and 1.8.1 was blocked due to bugs in SPFx, I have planned to retry the upgrade soon (with 1.8.2). All previous blocking issues aare supposed to be fixed, if no new come up I'll get a PR ready.

[2019-05-10 20:25] YannickRe commented on #150
I tested all I tested all the [out of the box search query variables](https://docs.microsoft.com/en-us/sharepoint/technical-reference/query-variables) in PR https://github.com/SharePoint/sp-dev-solutions/pull/85 . Note that not ALL the tokens from on-premises work, but those in the readme are all tested!

[2019-05-12 19:48] #99 closed

[2019-05-13 08:37] Kristofferkirk opened #153 "[ModernSearch] Norweigan text in CodeRenderer"
#### Category
- [ ] Question
- [ ] Bug
- [X] Enhancement

#### Expected or Desired Behavior
Noticed that in react-search-refiners-renderer/src/extensions/codeRenderer/SearchResults/SearchResults.tsx  on line 25, that it renders 'Updated X days ago' in Norweigan : 'Oppdatert for X days ago'. I suppose it would be better for non-norweigans that it's in english instead. 😄

[2019-05-13 11:30] wobba commented on #153
Thank you and fixed :)

[2019-05-13 11:30] #153 closed

[2019-05-13 14:38] ewkohtz opened #154 "Use of {{getUrlField}} helper in custom results layout: error/no display of search results"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are su

[2019-05-13 16:32] coupalm opened #155 "Refiner des not display full path for Managed Metadata Column with display full path option"
#### Category
- [ ] Question
- [X] Bug
- [X] Enhancement

#### Expected or Desired Behavior
If managed metadata column is set to display full path, refiner should also display full path term.

#### Observed Behavior
Refiners only display term and not fullpath. This only occurs when using the TaxId managed property and not the label property.

#### Steps to Reproduce
Set the managed metadata column

[2019-05-14 07:55] wobba commented on #154
@ewkohtz I tried with this template:

[code]

which gave the following output
[code]

Tested with the code in the dev branch, and with v2.2.0.1. So any pointers on how to reproduce it would help.

[2019-05-14 20:02] Scheevel opened #157 "uploading sppkg causes an App Package Error Message"
#### Category
- [x] Bug

#### Observed Behavior
After uploading "column-formatter.sppkg" file to the SPO AppCatalog library the column "App Package Error Message" displays the following message: "Invalid SharePoint App package. Error: File contains corrupted data."

[2019-05-15 06:16] mrik23 commented on #143
@FranckyC @wobba Also I noticed that the doc is saying that there is an option to load handlebar helpers but I don't see it in the styling options.

![image](https://user-images.githubusercontent.com/13704404/57752521-ae11d900-7713-11e9-9d77-a962d1527d57.png)

[2019-05-15 08:16] wobba commented on #143
@mrik23 we should update the docs, as it's loaded dynamically if you use one of the functions provided from handlebar helpers.

[2019-05-15 10:15] mrik23 commented on #143
@wobba OK that's an old option. Could that the root cause of my issue? if it's not get loaded?

[2019-05-15 10:45] wobba commented on #143
@YannickRe I tried adding a result wp + pagination (hooked to the result wp) to a page. Set query to `*` and 5 results. Seems when I click the pagination nothing happens. (dev branch)

[2019-05-15 10:51] YannickRe commented on #143
@wobba You don’t change pages or the you can reproduce the dateformat issue?

[2019-05-15 10:53] wobba commented on #143
@YannickRe I only get page 1 :) There are no ajax calls fetching page 2 etc. So hard to reproduce. Formatting works fine on page 1.

[2019-05-15 10:54] YannickRe commented on #143
Assign to me, I’ll try and figure this out today/tomorrow evening.

[2019-05-15 11:53] wobba commented on #143
@YannickRe I can't officially assign it, but it's your and we should probably create a new issue(s). One for pagination and one for dateformatting on page two etc, if it can be reproed.

[2019-05-15 12:34] Niekoesj opened #158 "[ModernSearch] Webpart crashes when results (site titles) contains special characters error 400"
#### Category
- [x] Bug

#### Expected or Desired Behavior
When the results contains sites with special characters in the site title, the webparts shouldn't crash.

#### Observed Behavior
When the results of the query contains a sitecollection (with a special character in the title), the webpart crashes with an error. Error 400
"A potentially dangerous request.path value was detected from the clie

[2019-05-15 13:29] dpc80111 commented on #149
Morning, was a package file ever created for download?

[2019-05-15 13:41] FranckyC commented on #155
Hi @coupalm. Not a bug since it is not implemented. I will add it to the roadmap.

[2019-05-15 13:44] YannickRe commented on #143
@wobba just to make sure: you connected the page webpart to the result webpart (to display paging) AND you connected results to paging (to act on page change)?

It feels like you didn’t do the second connection... Can you conform?

[2019-05-15 13:46] FranckyC commented on #155
We will see if a simple solution exists since this option is at the column level and not on managed property.

[2019-05-15 14:00] wobba commented on #149
@dpc80111 https://github.com/SharePoint/sp-dev-solutions/releases

[2019-05-15 14:05] wobba commented on #143
@YannickRe connected both ways now, still nothing.
![image](https://user-images.githubusercontent.com/51104/57781796-30f25e00-772b-11e9-93c9-f2830a7b7395.png)

[2019-05-15 14:52] FranckyC commented on #143
@wobba wrong place to connect the pagination WP. Go to page 3 ;)

![image](https://user-images.githubusercontent.com/5659122/57785291-75680480-76ff-11e9-8c79-e413ebac0396.png)

[2019-05-15 15:45] wobba commented on #143
@FranckyC I'll try that. Hard stuff 😉

[2019-05-15 19:33] coupalm opened #159 "Using apostrophe in search box not working"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Being able to search for a term containing an apostrophe

#### Observed Behavior
If I search something like: Prud'homme, it returns nothing.

#### Steps to Reproduce
Nothing special

The way to solved this issue was to set the search query language preference in classic search:
https://blogs.msdn.microsoft.

[2019-05-15 19:38] dpc80111 commented on #149
The Pagination Web part is not rendering as it does in the video. How can we update that?

[2019-05-15 19:50] FranckyC commented on #149
@dpc80111 What's the behavior right now? Can you elaborate?

[2019-05-15 19:51] FranckyC commented on #149
You new to connect both ways (Search -> Pagination + Pagination -> Search).

[2019-05-15 19:52] ewkohtz commented on #154
@wobba thanks for the response.  I'm not sure what else to point to for repro.

To rule out any template issues, I applied your simplified code alone to custom the Results layout.
First using only:
[code]
...which results in the following comma-separated output:

![Capture](https://user-images.githubusercontent.com/45462866/57802698-ca157a80-7713-11e9-8bc0-ae031fdfc98c.PNG)

However, if I re-add t

[2019-05-15 19:59] wobba commented on #154
@ewkohtz any particular items you bring back? Any with a comma in the text perhaps? If you're a dev testing in debug with a breakpoint could help.

[2019-05-15 19:59] FranckyC commented on #159
Hi @coupalm . Quickly, can you open the network tab and see the transformed query in the REST call to see what it looks like?

[2019-05-15 20:56] dpc80111 commented on #149
![paginationimage](https://user-images.githubusercontent.com/48605275/57808745-3fd41300-7721-11e9-91cb-fb5f62945845.png)

No icon prior to number and weird character after numbers.  Search -> Pagination + Pagination -> Search is set.

[2019-05-15 20:57] dpc80111 commented on #149
PS: This is from the Packaged solution

[2019-05-15 21:00] FranckyC commented on #149
Do other components work as expected (icons, etc.)? Can you try in a private window also? It seems to be a Office UI Fabric icons issue.

[2019-05-15 21:06] ewkohtz commented on #154
@wobba  Thanks for this suggestion!  The search term I was using was returning link items that are formatted as 'tinyurl' in the URL:
[code]
When I use a term that returns a URL without the question mark, the result is displays with the appropriate 'getURLField' properties.

With this in mind, is there any option for dealing with this or other characters that may cause the result to fail?

[2019-05-15 21:16] dpc80111 commented on #149
I cleared my browsers and it looks correct now. Thank you

[2019-05-16 01:16] FranckyC commented on #149
@wobba Can close this one I guess.

[2019-05-16 05:56] #149 closed

[2019-05-16 06:27] YannickRe commented on #143
I have no issues with pagination (on dev branch) 😉

Currently, I have tested the following Handlebars code:
[code]
It results in the following output, on all pages:
[code]

I cannot reproduce it yet, but I have added some RefinableDate mapped properties and waiting for reindexing.

[2019-05-16 06:34] wobba commented on #143
@mrik23 I've tested it now. Paging works. When the date shows up in full format, it's because moment was not able to parse it.

[code]

Parsing uses the locale of English.

So for those display full string, is there a difference between how the raw value looks compared to those that work?

[2019-05-16 06:35] wobba commented on #154
@ewkohtz I'll check it out

[2019-05-16 13:01] mrik23 commented on #143
@wobba no, it's the same value. It words on one page, but not another one.

Also I noticed the formatting works in SharePoint mobile app, but not in the browser.

@YannickRe Thanks for talking the time to map some properties :) I hope you will be able to reproduce.

So far I really don't understand as the same template works fine on one page, and can't get it to work on another page or site.

[2019-05-16 13:09] mrik23 commented on #143
@YannickRe by the way, first time I apply the custom template, it displays just fine (in edit mode). If I save and refresh the page, the dates will show not formatted.
So it seems like a problem with the handlebar helper, maybe not loading. Just strange it doesn't show an error.

[2019-05-16 13:27] mrik23 commented on #143
@wobba @YannickRe I created a new page and a test template for demo.

Example template:

[code]
Result in edit mode:
![image](https://user-images.githubusercontent.com/13704404/57856926-3b3e5600-7818-11e9-99d5-66481c1141d4.png)

Formatting happening.

Result in view mode after refresh:
![image](https://user-images.githubusercontent.com/13704404/57856962-54470700-7818-11e9-92d8-c3d4d4f6a3a4.png)

F

[2019-05-16 13:56] YannickRe commented on #143
Thank you for the detailed explanation and screenshots. It'll take me some time, so please be patient (maybe @wobba can help you out sooner), I'm swamped atm with other stuff that takes priority ☹.

[2019-05-16 15:58] dpc80111 opened #160 "Modern Search v3.3.2 package"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
-[x] Question
- [ ] Bug
- [ ] Enhancement

Thank you for the Modern Search v3.3.2 package!  Will that package be updated with each code version release?

[2019-05-16 16:00] FranckyC commented on #160
@dpc80111 We have now monthly releases so yes. You'll get a new version June 10th.

[2019-05-16 16:54] FranckyC commented on #158
Hi @Niekoesj Unfortunately, I'm not able to reproduce this issue

![image](https://user-images.githubusercontent.com/5659122/57872335-7705fb00-77d9-11e9-8acb-3558841920f6.png)

Do you use the default templates (List/Tiles)? Can you debug the REST call in the browser network tab to see what happens?

[2019-05-16 17:04] wobba commented on #143
What language is the site/user UI?

[2019-05-16 18:58] YannickRe commented on #143
I cannot reproduce this issue ☹. I tested with your template, on an English communication site and a Dutch teamsite, with a user that has English and another user that has Dutch as his UI language. All tested on a new page within those sites (not the homepage).

@wobba Only thing I can now imagine that might trigger an issue has to do with the naming of the Handlebars helpers. I don't know a lot a

[2019-05-16 19:48] wobba commented on #143
Hmm...I believe I added that as our getDate is using helpers - to trigger a load.

I think we should log the error in the catch to see why it fails. @mrik23 can you debug from SPFX and see what the error in the catch is..would be useful. Or see if console says anything.

[2019-05-16 20:29] dpc80111 opened #161 "Modern Search - Query Rules for result block dont seem to render"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [X ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Show result blocks from Query Rule in search result section of the web part

##

[2019-05-16 20:31] FranckyC commented on #161
Hi @dpc80111 For now, only promoted results are supported, not result blocks. This is an expected behavior. Sorry.

[2019-05-16 20:34] dpc80111 commented on #161
Ok, ty. Are you looking to add that functionality in the near future?

[2019-05-16 20:36] FranckyC commented on #161
Not in the roadmap yet. Don't think we will tackle this soon unfortunately.

[2019-05-16 20:37] #161 closed

[2019-05-17 02:04] jimbul opened #162 "Search feedback on submission"
#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

#### Expected or Desired Behavior
When initiating a search by pressing enter or clicking the magnifying glass, there is no user feedback at all, just a locked page (aside scrolling), i see this behaviour in all browsers on all platforms. In our production environment with around 200 files tagged with enterprise metadata it takes between 7 a

[2019-05-17 11:27] jimbul opened #163 "Slow search performance on 3.1.1.0"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
For searches after initial page load to produce results in less than 10 seconds.

#### Observed Behavior
Although the page and initial default search of * load very quickly, any subsequent free text searches take a minimum of 10 and a maximum of 30 seconds to yield results, once search is submitted the page

[2019-05-17 11:41] jimbul commented on #163
Please don't worry about this - it's my fault, a misconfiguration.

[2019-05-17 11:41] #163 closed

[2019-05-17 11:45] jimbul commented on #162
This was due to the same misconfig as my subsequent issue #163 . Apologies.

[2019-05-17 11:45] #162 closed

[2019-05-17 16:42] FranckyC commented on #159
Hi @coupalm I'm working on it. I'll add a query language parameter

[2019-05-17 19:41] dpc80111 opened #164 "Reduce Results"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ X] Question
- [ ] Bug
- [ ] Enhancement

#### Expected
Is there any way to either reduce refiner (filetype) to x,y,z,a,b or not showing specific result lik

[2019-05-18 11:32] wobba commented on #164
@dpc80111 You can exclude the filetypes you don't want in the initial query via the query template for example.

`-FileType:aspx -FileType:docx` or similar.

[2019-05-18 14:39] FranckyC commented on #159
@coupalm it will be resolved in the june release.

[2019-05-18 14:42] coupalm commented on #159
@FranckyC , sorry for late response.. ok, thanks!
Bonne journée!

[2019-05-18 14:42] FranckyC commented on #160
@wobba you can close this one

[2019-05-18 15:31] #159 closed

[2019-05-18 15:31] #160 closed

[2019-05-24 20:08] dpc80111 opened #169 "Search Vertical Web Part"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [ x] Bug
- [ x] Enhancement

#### Expected or Desired Behavior

It seams the Modern Search  package v3.3.2 is missing the Search Vertical web

[2019-05-24 20:28] FranckyC commented on #169
Hi @dpc80111. Try to uninstall the old package completely before installing the new one. Also, you can you try this https://www.techmikael.com/2018/02/alternative-way-to-solve-issue-where.html

[2019-05-24 20:50] dpc80111 commented on #169
FranckyC, i only have the one package release?  Did v3.3.2 have the search vertical included in that release?

[2019-05-24 20:52] FranckyC commented on #169
Yes it should be included.

[2019-05-25 11:44] #164 closed

[2019-05-25 12:15] wobba commented on #154
@ewkohtz I tried with the latest dev branch. Added the `URL` column to a list, added data and cannot reproduce it. Tested in Chrome and IE11 with the template you pasted.

![image](https://user-images.githubusercontent.com/51104/58369198-53d4fd00-7ef7-11e9-9a2a-a5b647c0dea9.png)

[2019-05-26 19:07] YannickRe commented on #138
@mag210 I submitted a Pull Request that should give you the choice!

[2019-05-26 19:24] mag210 commented on #138
Thanks @YannickRe , I didn't get a chance to do this, so thanks for picking it up! I think a useful addition that adds to the flexibility of the webpart and means we can use it in conjunction with the out the box search results. This could be important if / when MS improve their modern search centre...

[2019-05-27 07:27] wobba commented on #138
Now merged into dev.

[2019-05-27 07:27] #138 closed

[2019-05-27 18:58] cebud commented on #72
Refiners: to be able to preselect refinement value from query string

[2019-05-28 06:48] BraunJonathan opened #171 "[Modern Search] Translation issue (week days)"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
First leters for week days should be D, L, M, M, J, V, S

#### Observed Behavior
These are : D, M, M, J, V, V, S

#### Steps to Reproduce
just look at the calendar ;-)

I dont have a connected environnement right now otherwise i would have submitted a PR for this.
It's located in the fr-fr.js file in search

[2019-05-28 17:05] FranckyC commented on #171
Thanks for reporting @BraunJonathan. I will take a look. You can also submit a PR to fix this ;)

[2019-05-28 17:38] FranckyC commented on #171
Should be resolved in the next release.

[2019-05-28 17:42] FranckyC commented on #158
@Niekoesj Any news about this?

[2019-05-28 17:43] FranckyC commented on #169
Does it work for you @dpc80111 after a clean install?

[2019-05-28 17:45] #171 closed

[2019-05-29 04:04] mrik23 commented on #143
@wobba @YannickRe Yes I could change the code to console log the error, I will try to free some time for this.

[2019-05-30 17:49] Ashutosh2019 opened #173 "query string passed as # when configuring search box for Send query for to a new page., while navigating to other pages i.e when navigating with search vertical the query string passed as ?q=."
- [ ] Bug

#### Expected or Desired Behavior
Ideal scenario- Configuring Search box for home page. Redirecting the key word to be shown in next page. Search vertical to navigate next search category.

When redirecting search from homepage to next page, the query string passed as #, while navigating to other pages i.e when navigating with search vertical the query string passed as ?q=.

This differ

[2019-05-30 18:16] YannickRe commented on #173
In the modern-Search-dev branch I added the opportunity to choose how the query as passed: as hash or with a query string parameter of your choice.

Does that solve your issue?

[2019-05-30 18:21] Ashutosh2019 commented on #173
Excellent, Thank you.
Yes it does solve my issue. Do I have to get the latest code ?

[2019-05-30 18:24] YannickRe commented on #173
You can get the latest code from the modern-Search-dev branch and build & package it yourself. You can also wait a couple of days until all code is merged to master and we make a new package available!

[2019-05-30 19:57] #173 closed

[2019-05-31 18:26] Ashutosh2019 opened #174 "Latest Code shows managed metadata tags ID's along with name in search refiners"
#### Category

- [ ] Bug

#### Expected or Desired Behavior
When showing search refiner for all owstaxidmetadataalltagsinfo (Managed Metadata) it should render the name of the column values.

#### Observed Behavior

When showing search refiner for all owstaxidmetadataalltagsinfo (Managed Metadata) it shows ID along with name. For ex- L0|#04e801f7d-b242-4518-acf4-dafe2fd0f46e|Hello Check (1)
It cou

[2019-05-31 18:36] FranckyC commented on #174
Hi @Ashutosh2019. Is the localization flag enabled in the WP settings?

[2019-05-31 18:41] Ashutosh2019 commented on #174
Checking one more time with the old verion (3.0.4.0), if it has same issue.

[2019-06-01 18:24] Ashutosh2019 commented on #174
Yes, it's localization flag configuration issue. Thank you for the help.

[2019-06-01 18:24] #174 closed

[2019-06-03 01:15] coupalm opened #175 "MultilingualPage: Issues with root site collection and references to site pages with getByTitle"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior

1) MUI should work in site collections where default languages is not English-US
2) MUI should work on root site collection

#### Observed Behavior

1) If site was created in another default language than English: Code is using getByTile('Site pages") to access the site pages library. This is not working a

[2019-06-03 09:32] Ashutosh2019 opened #176 "Changing "owstaxidmetadataalltagsinfo" to "RefinableString" in the Display template, the crawled property which are mapped not reflecting."
#### Category
- [ ] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Trying to show custom metadata in place of "owstaxidmetadataalltagsinfo". Mapped all the custom column crawled property to RefinableString managed property and trying to show the values for the Search item. Changed "owstaxidmetadataalltagsinfo" to "RefinableString" in the Display template but the values are

[2019-06-03 13:36] Ashutosh2019 commented on #28
I was having problem with "PhantomJS not found on PATH" . It is more to do with proxy. I have switched to non proxy connection and it all works file.
This reported issue can be closed.

[2019-06-03 14:16] #28 closed

[2019-06-04 13:25] wobba commented on #176
Can you verify that the data in `RefinableString` are equal to that of `owstaxidmetadataalltagsinfo`, or do they look different?

[2019-06-05 12:50] harshdamaniahd opened #177 "Default search query not working when specifying multiple paths ( or more conditions)"
I want to get data from multiple sites in one search query, but it is not working. It was working earlier. After i updated the solution to latest , it stopped working.
**Default search query**
path:https://dev.sharepoint.com/teams/Sales* OR path:https://dev.sharepoint.com/sites/Sales*

[2019-06-05 13:02] wobba commented on #177
@harshdamaniahd you can skip the `OR`, also can you inspect the JSON being returned and see what the transformed query coming back is?

[2019-06-05 13:36] FranckyC commented on #177
Hi @harshdamaniahd, can you check the query template in the settings so ensure the default Path{Site} is not present? Also, you can use the [Search Query Tool](https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.Search.QueryTool) utility to compare your query and see if it actually returns results wih the same settings.

[2019-06-05 13:42] FranckyC commented on #176
Hi @Ashutosh2019, so you want aggregate multiple crawled properties to a single RefinableString managed property, is that right? In this case, the issue could be a format issue. As pointed out by @wobba , compare the MP content to see if it is the same as `owstaxidmetadataalltagsinfo`. Honestly, I didn't test this scenario with multiple values. Why you can't use the `owstaxidmetadataalltagsinfo` M

[2019-06-05 13:44] harshdamaniahd commented on #177
Got it i had this query variable that was causing the trouble {Site}
![image](https://user-images.githubusercontent.com/11780473/58960998-97a5ed00-87a8-11e9-923e-a8c800084e8a.png)
Closing it ..thanks.

[2019-06-05 13:44] #177 closed

[2019-06-05 14:24] harshdamaniahd opened #178 "When using Refiners and selecting layout as vertical, I do not see option to see all filters applied"
When using panel layout in refiners, i get this option to remove and see which filters were applied
![image](https://user-images.githubusercontent.com/11780473/58963866-38e37200-87ae-11e9-8ed0-c0e3958c6e7c.png)
But when using vertical layout , i dont see that option.Its good to have that when you have 7-8 refiners
![image](https://user-images.githubusercontent.com/11780473/58963954-5c0e2180-87ae-1

[2019-06-05 18:07] FranckyC commented on #178
Hi @harshdamaniahd , there is no such information for the vertical layout since you already have the selected ones in the refiner list.

[2019-06-06 11:52] Ashutosh2019 commented on #176
Hi @wobba and @FranckyC ,  I am trying to aggregate multiple custom columns (not managed metadata column) crawled propertied  to a single RefinableString managed property.

I have checked RefinableString managed property with owstaxidmetadataalltagsinfo, there is no difference. But only thing I suspect, owstaxidmetadataalltagsinfo is a default MP where all your managed metadata columns crawled pro

[2019-06-06 13:33] harshdamaniahd commented on #178
But the problem is that i have to go to each refiner section and remove filter :-(
We get a good option in panel layout, which is missing in vertical

[2019-06-06 14:53] Ashutosh2019 opened #179 "Search result fails with "Error: Error making HttpClient request in queryable [404] ::>" when "Edit sortable fields" configured on created date."
#### Category

- [ ] Bug

#### Expected or Desired Behavior
Search result should should filter when "Edit sortable fields" configured in search results webaprt.

#### Observed Behavior
When there are more than 18000 records in search result and "Edit sortable fields" confifured based on created date the webparts fails to load when trying to sort in search result webpart.

#### Steps to Reproduce
C

[2019-06-07 07:31] wobba commented on #176
@Ashutosh2019 can you verify you are loading the `RefinableStringXX` property in the webpart configuration? And you already verified that the  `RefinableStringXX` property has a value using for example the search query tool(?) as I understand it.

[2019-06-07 10:35] harshdamaniahd opened #180 "Localization query"
I had currently configured mapping using ows_Columname as shown below:
![image](https://user-images.githubusercontent.com/11780473/59098297-2ab56300-8920-11e9-8de7-6777df7bf85e.png)
to support localization, i will have to change it to
![image](https://user-images.githubusercontent.com/11780473/59098363-589aa780-8920-11e9-935f-164d079f9f17.png)
If i am making this change, after changing it to ows_t

[2019-06-07 14:07] wobba opened #181 "Release notes 3.4.0"
The may release was v3.3.2. Anything I'm missing in the change log for v.3.4.0.0?

Changes:
* Updated to SPFx v1.8.2
* Added query language setting

Fixes:
* Translations
* Improved loading placeholders
* Improved hash paramater change handling

@FranckyC @YannickRe

[2019-06-07 14:11] YannickRe commented on #181
Seems like you’ve got it all.

[2019-06-07 20:12] #181 closed

[2019-06-10 21:46] murphym215 opened #182 "Tags in Search Results not displaying correctly when Sorting is applied"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
I want to add Sorting functionality to my search results.  When a user selects a

[2019-06-11 09:43] Ashutosh2019 commented on #176
@wobba, Thank you so much. You guys are awesome. I am still scratching my head, how I missed this configuration.

This works absolutely fine.

[2019-06-11 09:43] #176 closed

[2019-06-11 13:53] FranckyC commented on #180
Hi @harshdamaniahd, you should be ok. Don't forget to turn on the localization flag in the WP settings afterwards.

[2019-06-11 13:55] FranckyC commented on #182
Hi @murphym215, good catch! I was able to reproduce this issue. I'll fix this ASAP. Thanks.

[2019-06-11 14:36] harshdamaniahd commented on #180
Yep. I checked this today. I just had to reindex the site.

[2019-06-11 14:36] #180 closed

[2019-06-11 14:37] harshdamaniahd opened #183 "Is it possible to get library name in search template"
Is it possible to get library name like here "QuotationandPrice"
![image](https://user-images.githubusercontent.com/11780473/59281230-30d07a00-8c67-11e9-8edb-faaba8808896.png)

[2019-06-11 14:48] harshdamaniahd commented on #183
Actually i got the path using "Path" attribute
https://*.sharepoint.com/teams/Sales/QuotationAndPrice/Fremsendingskalkulator.xlsx

[2019-06-11 14:57] FranckyC commented on #183
Hi @harshdamaniahd , unfortunately, I don't hink there is a managed property available in the search schema to get this information directly. All you can get is the ListID or the path. If your library URL is the same as the display name, you could implement something in the template using Handlebars helpers to extract and format the token correctly.

[2019-06-11 15:00] FranckyC commented on #179
Hi @Ashutosh2019, does it happen only when there are 18000 results or more? Also can you inspect the query in the network tab to see what is going on? Thanks.

[2019-06-11 15:02] FranckyC commented on #150
@sympmarc can we close this one or you still have issues?

[2019-06-11 15:50] sympmarc commented on #150
It works just fine, including with custom properties. Thanks for the help!

[2019-06-11 15:50] #150 closed

[2019-06-12 12:48] harshdamaniahd opened #184 "Can i use theme color in custom html (handler)"
@FranckyC  if yes, how can i do that

[2019-06-12 13:11] wobba commented on #184
In theory you should be able to use `ms-fontColor-themePrimary` etc, but I see we again have updated `@microsoft/sp-office-ui-fabric-core` to the latest version. If you downgrade to 1.6.0 it will work.

Not sure if downgrading again has any other implications, or if we should try to create a better solution.  We could either re-implement those classes or add support for using something like below

[2019-06-12 13:22] harshdamaniahd commented on #184
Ok tried ms-[location]-[color]

and here are my observations
It takes the default blue color and not the actual theme color.

[2019-06-12 13:22] wobba commented on #184
I know :) It's a bug. Revert to 1.6.0, rebuild and it works - just not sure if it has other implications.

[2019-06-12 13:31] harshdamaniahd commented on #184
okay :-) no worries

[2019-06-12 18:48] demowry opened #185 "Search Results Web Part Title Not Displaying"
#### Category
- [ ] Question
- [ X ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Display the webpart title based on the entry put into the properties of the results web part.

#### Observed Behavior
The Title doesn't get displayed.

#### Steps to Reproduce
Add a title to the results web part, publish the page.

[2019-06-12 19:07] FranckyC commented on #185
Hi @demowry, will be fixed in the next release. Thanks!

[2019-06-13 08:00] harshdamaniahd opened #186 "Can i expand User.<customproperty> to get all child terms in search query"
I have a custom property called business unit.
Each business unit has departments has child terms.
For eg :
Sales: Level 1
-->Department 1 : Level 2
-->Department 2 : Level 2

Now my business unit is set to Sales, so when i use {User.BusinessUnit} in search query it should get all items that belong to department 1 and department 2 and sales.
Like we can do here :
GP0|#<term id> | Returns all items

[2019-06-13 08:37] wobba commented on #186
You can use `{User.<Property>.ID}` or `{User.<Property>.IDWithChildren}` as mentioned in my post https://www.techmikael.com/2014/05/s15e03-query-variables-constant-trouble.html. Which means you can get the current tag with children, or the current tag only. You cannot scope to parent terms.

[2019-06-13 11:53] harshdamaniahd commented on #186
I tried the below query, but they all return same result
{User.<Property>.ID}  : Returns all items tagged with that term
{User.<Property>.IDWithChildren} : Returns all items tagged with that term
{User.<Property>} : Returns all items tagged with that term

I can verify that in search schema, I have mapped it to ows_taxId_Property

[2019-06-13 12:20] harshdamaniahd commented on #186
I think that GPP|# is not working

[2019-06-13 12:22] FranckyC commented on #186
Hi @harshdamaniahd, could it be related https://twitter.com/eliostruyf/status/1139123339354619910? Can you check the value of the managed property in the search index (using search query tool for instance)?

[2019-06-13 12:31] harshdamaniahd commented on #186
@FranckyC I do have the search query tool, but did not understand what you need. Can you please tell me where to look in search query tool.
![image](https://user-images.githubusercontent.com/11780473/59432544-df9bc400-8de7-11e9-9506-890e1973c83c.png)

[2019-06-13 12:47] FranckyC commented on #186
Ok I see the value of RefinableString04 seems OK. Now can you inspect the search query in the REST call by opening the browser network tab?

[2019-06-13 13:00] harshdamaniahd commented on #186
Do you mean the request payload ?
![image](https://user-images.githubusercontent.com/11780473/59434468-e593a400-8deb-11e9-9c0a-df579fbbb9bd.png)

[2019-06-13 13:02] FranckyC commented on #186
OK and if you go with direct GPP|#<id> or GP0|#<id> tokens in the query, do you get correct results?

[2019-06-13 13:03] harshdamaniahd commented on #186
GP0|# is working , GPP|# is not working

[2019-06-13 13:32] harshdamaniahd commented on #186
One more thing when I put the query in search tool, i get 0 results for `{User.<Property>.IDWithChildren}`
![image](https://user-images.githubusercontent.com/11780473/59436578-31484c80-8df0-11e9-9208-0c03dc2f2c3b.png)

But when i put the same query in search webpart i get same result as below query
[code]
So in search wp there is no difference in any condition

[2019-06-13 13:37] wobba commented on #186
@harshdamaniahd you need to put the query in the query template field, not the query text. Query variables expand from the the template field, not from the keyword field.

[2019-06-13 13:50] RajputDeepak commented on #186
@wobba Can you please elaborate when you say "You cannot scope to parent terms." in above comment

[2019-06-13 13:57] FranckyC commented on #186
@harshdamaniahd if you inspect items tagged with lower taxnomy levels like "Department 1", etc. in the search index, is the GPP token present for these items?

[2019-06-13 14:05] wobba commented on #186
@RajputDeepak In a hierarchical termset

Parent
   Child 1
       Sub 1
   Child 2

If term "Child 1" is a tag used in a profile, you cannot get results for tags Child1+Sub1, not Parent and below.

[2019-06-13 14:15] harshdamaniahd commented on #186
@wobba  I tried this as well , but still doesnt work
![image](https://user-images.githubusercontent.com/11780473/59439920-648dda00-8df6-11e9-8ef9-4035c1e39d90.png)

[2019-06-13 14:21] harshdamaniahd commented on #186
I can see GPP
What i understood is this ?
![image](https://user-images.githubusercontent.com/11780473/59440428-3e1c6e80-8df7-11e9-84ef-57fe5aca974b.png)

[2019-06-13 14:27] FranckyC commented on #186
So in items tagged with lower taxonomy levels, you see the GPP token is set but when you query for  GPP|#<term_id> you don't get any result? Seems strange.

[2019-06-13 14:32] harshdamaniahd commented on #186
Yes, GPP is not working
![image](https://user-images.githubusercontent.com/11780473/59441335-b59ecd80-8df8-11e9-977f-3e062ca5f572.png)

[2019-06-13 14:35] FranckyC commented on #186
What if you do RefinableString04:GPP|#<term_id>?

[2019-06-13 14:46] harshdamaniahd commented on #186
Thank you indeed, it worked

Yeh..finally it worked. Thank you very much :-) @FranckyC  & @wobba .
RefinableString04:{User.BusinessUnit.IdWithChildren} and this also works : RefinableString04:GPP|#<term_id

[2019-06-13 15:19] FranckyC commented on #186
RefinableStringXXX managed properties are not 'Searchable' by default so it means their content is **not** included in the full-text index.

[2019-06-13 15:31] harshdamaniahd commented on #186
Got it 👍

[2019-06-13 15:42] FranckyC commented on #186
@wobba can close this one

[2019-06-13 15:57] #182 closed

[2019-06-13 15:57] #185 closed

[2019-06-13 15:58] #186 closed

[2019-06-14 10:59] chanduravuri12 opened #188 "how to link modern search results custom page with OOTB modern search box on home page"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are su

[2019-06-14 11:01] chanduravuri12 commented on #188
I have created modern page with SPfx search results webpart, I want to link this page with OOTB search box on home page

[2019-06-14 18:13] wobba commented on #188
Currently not possible, but it is on the roadmap to direct the oob search box to a custom page.

[2019-06-14 18:13] #188 closed

[2019-06-14 20:28] sympmarc commented on #143
I cant get dates to format, either. I'm trying to format the Start Date and End Date for events.  I think these should work?
`{{getDate EventDateOWSDATE "MM-DD-YYYY"}}`
`{{getDate EndDateOWSDATE "MM-DD-YYYY"}}`

No matter how I try things, I'm still seeing dates like "2019-06-18T17:00:00.0000000Z"

[2019-06-14 20:35] sympmarc commented on #143
Ok, this is weird. I switched back to the "list" format and then back to my custom template. All of a sudden, the date formatting started working. No idea why.

[2019-06-14 20:48] wobba commented on #143
Weird and something to look into for sure.

[2019-06-14 20:59] sympmarc commented on #143
It's consistent. At least I've got a way to make progress, but it would be nicer if it didn't do this. :)

[2019-06-16 19:38] sympmarc commented on #143
For whatever reason, this ghost in the machine seems to have disappeared. I'm finding the easiest change/view approach is to stay in edit mode and flip back to Tiles, then to Custom again each time I make a change to the Handlebars template.

[2019-06-17 10:50] colonelclaypoo opened #189 "Search results not working on classic page"
First of all, thank you for these awesome webparts.
I'm trying to add the search results webpart to a classic webpart or wiki page. Unfortunately, no results are displayed. It keeps on loading stating "Search results are being loaded":
![2019-06-17_12-44-10](https://user-images.githubusercontent.com/29123261/59599007-c6ec2080-90fd-11e9-9a93-f6226f02090d.png)

This behaviour is the same for either

[2019-06-17 11:28] wobba commented on #189
Have to say I've never tried on a classic site before. If you open the browser debug console, any error message which sticks out?

[2019-06-17 12:06] colonelclaypoo commented on #189
Good call!
I just checked. I compared inserting the search results webpart to inserting the modern highlighted content ootb webpart. What sticks out in the Chrome Dev Tools is this bit:

![1](https://user-images.githubusercontent.com/29123261/59603182-066c3a00-9109-11e9-84a4-c0e467c1a07c.png)

This error is not present with the highlighted content webpart. Unfortunately, my coding skills are near

[2019-06-17 13:13] sympmarc opened #190 "Search Results Web Part - Web Part Title Doesn't Display"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When I add a Web Part Title to the Search Results Web Part, I expect to see it in the UI.

#### Observed Behavior
No Title. :( I'm using the latest version: 3.4.0

#### Steps to Reproduce
Add a Web Part Title, save. No title.

[2019-06-17 13:20] FranckyC commented on #190
Already resolved via #185. You can pull the latest modern-search-dev branch.

[2019-06-17 13:22] sympmarc commented on #190
Sorry. I looked for another issue on this, but missed it. Thanks!

[2019-06-17 13:22] #190 closed

[2019-06-17 13:33] FranckyC commented on #189
Hi @colonelclaypoo, never tried in classic pages also :(. Quickly, this issue seems related to dynamic data. @wobba, does this feature supported in this mode?

[2019-06-17 13:38] FranckyC commented on #189
Ok I have the answer https://github.com/SharePoint/sp-dev-docs/issues/2515. Unfortunately @colonelclaypoom this WP can't be used in classic pages (at least with a search box connected). You can try to use the 'Search Results' WP only.

[2019-06-17 13:47] Ashutosh2019 opened #191 "Searching any existing SharePoint document which has no Title (though same document can be searched with accuracy from OOTB Modern search)- The search result is inconsistent"
#### Category

- [ ] Bug

#### Expected or Desired Behavior

Searching any existing SharePoint document with "Name" or "Title" it should return the result.

#### Observed Behavior

When Searching for Document which has no Title it didn't return the exact or related searched result. Even it doesn’t show the item in all the result as well. The search result is inconsistent.

#### Steps to Reproduce

[2019-06-17 13:54] FranckyC commented on #191
Hi @Ashutosh2019, not sure I understand. What searches do you compare? Modern Search WP search vs Library builtin search? The query you mentionned don't use the same endpoint (/suggest vs /query) so I guess this is normal they are not giving the same results.

[2019-06-17 14:11] colonelclaypoo commented on #189
@FranckyC & @wobba, thank you for your help. Unfortunately, the search results webpart only also does exhibit the same behaviour. But that's okay, I will try a modern page with the SingleWebPartAppPage-layout to kind of resemble the classic experience we're still using. We appreciate this solution nonetheless, it's one of the best things I've come across in recent years. Keep up the good work.

[2019-06-17 14:11] #189 closed

[2019-06-17 14:14] FranckyC commented on #189
Thanks @colonelclaypoo !

[2019-06-17 14:16] Ashutosh2019 commented on #191
Hi @FranckyC,
I am comparing custom Modern Search WP search and build in Modern search.

I understand the endpoint (/suggest vs /query) varies in case of searching inside library and search custom Modern Search WP search.

Couldn't able to trace the Search query at that point, below are the two different queries:

Custom Modern Search WP search query:

https://xxxxxx.sharepoint.com/sites/Collabora

[2019-06-17 14:22] wobba commented on #191
@Ashutosh2019 we are correct, oob is wrong if you execute both from the root sc(?) Suggestions are per spec scoped to the sc where you execute the query against. We could perhaps add a toggle to query suggestions from the root or any other arbitrary sc......

For the oob search, what URL are you searching from, and which search box are you using?

[2019-06-17 14:31] FranckyC commented on #191
@Ashutosh2019  From where did you monitor the search calls? The 'suggest' api endpoint is only used when suggestions are turned on for the Modern Search WP and it actually does not return results but only phrases in a predefined list you configured (see [https://docs.microsoft.com/en-us/sharepoint/search/manage-query-suggestions](url)). Suggestions **are not built automatically** with this WP so t

[2019-06-17 15:27] Ashutosh2019 commented on #191
@FranckyC , For the oob search, I am searching from both current SC and from Organization path, both the cases I am getting the search result. The search uses the default search box.

But in Modern Search WP, I am using the Modern Search WP search box and Modern Search WP search result web part.

The difference I observe some documents are not giving any result in Modern Search WP where as with th

[2019-06-17 15:46] wobba commented on #191
@Ashutosh2019 are you talking about the search box in the suite header? Feel free to post a screenshot of which oob feature you are talking about.

[2019-06-17 16:09] FranckyC commented on #191
Yep I think screenshots could help ;)

[2019-06-17 18:00] Ashutosh2019 commented on #191
![Search_Modern Search WP](https://user-images.githubusercontent.com/48927183/59625390-c92e9900-9156-11e9-9ff6-498d7823cacb.jpg)
![Search_OOTB](https://user-images.githubusercontent.com/48927183/59625398-cd5ab680-9156-11e9-8273-15ad908fd81c.jpg)

The Same key word giving different results.

[2019-06-17 18:12] sympmarc opened #192 "Modern Search - time zones?"
#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

I'm wondering if you have any suggestions on how to handle time zone offsets in the Handlebars templates. For example, if I get this value back from a query:
[code]
and then use getDate:
`{{getDate EventDateOWSDATE "ddd, MMM DD"}}`

I'll get the value of EventDateOWSDATE, but the time offset means it may show the wrong date. In this case, I

[2019-06-17 18:19] murphym215 commented on #182
Thanks for the update.  I deployed the latest version 3.4.0.0 and used Update-PnPApp PowerShell cmdlet to update.  However, managed metadata tags are still showing full id when a sort is applied.  I am mapping a managed metadata column named Topic to RefinableString00 using ows_Topic.  I have also tried mapping ows_taxid_Topic. Additionally, I have tried using Created.  Either way, the initial res

[2019-06-17 18:45] FranckyC commented on #182
@murphym215 did you build the package from the latest modern-search-dev branch?

[2019-06-17 18:48] Ashutosh2019 commented on #191
I did deep dive with the setup, it might be interfering "query rules".
When the query rules are enabled to exclude few sites from search either from the Modern Search WP or from the site collection, in both the cases the results shows very weird way.

[2019-06-17 18:52] FranckyC commented on #191
@Ashutosh2019 By default the search is scoped to the current site in the Modern Search WP (Path:{Site}). You could check the query template to see if anything could interfer.

[2019-06-17 19:05] Ashutosh2019 commented on #191
@FranckyC , I have made it Query template scoped for {searchTerms}, which give me result of all data from local shareppoint result.

If Create a site collection Query Rule, the Modern Search WP doesn't gives me exact result.

[2019-06-17 20:06] wobba commented on #192
Good question. Would you want it adjusted to the web's time zone or the users time zone, or maybe a parameter that you pass to `getDate`?

[2019-06-17 20:14] sympmarc commented on #192
I don't remember what classic search display templates did. Anything?

Time zones are always a mess to work with. I think most of the time, we want to see the user's time zone. I can't figure out if getDate gives me any options already or not.

[2019-06-17 21:30] murphym215 commented on #182
I actually got it from master.  When I built it, it was showing 3.4.0.0 as the version.  I just got it from dev branch and it seems to be working now.  thanks.

[2019-06-18 06:00] wobba commented on #191
@Ashutosh2019 in theory they should be the same for the same scope. Would be interesting if you tried the search query tool or `Submit-PnPSearchQuery` and see what the result is.

You cannot really look at the REST calls as the oob page now uses a different API to search thru, not the SharePoint search API. Which makes it all the harder to troubleshoot.

[2019-06-18 06:23] wobba commented on #192
@sympmarc Tested now and the date for one item for me is 1pm, and shows as 3pm by default in our webpart. Debugging I see that it does a `new Date()` which for me in my browser returns `Tue Jun 18 2019 08:23:01 GMT+0200 (Central European Summer Time)` and uses that to adjust the timezone. So should be ok then?

[2019-06-18 06:26] wobba commented on #143
@sympmarc seems like there's something iffy with a state in edit mode for the template we need to track down and fix.

[2019-06-18 07:10] Ashutosh2019 commented on #179
@FranckyC , it happens with 18000 or more results. I feel the culprit might be network latency. As the search results are more, it takes little more time to do Sortable fields. Can be better, if any friendly message shows in place of server errors.

[2019-06-20 10:49] Ashutosh2019 commented on #191
@wobba , you are correct. I finally found it's problem with query rules and got it fixed with a minor tweak.
Thank you @FranckyC and @wobba, you guys real Savior.

[2019-06-20 10:49] #191 closed

[2019-06-20 10:59] Ashutosh2019 opened #194 "File without Title shows with 1st line of text in the file instated of File name"
#### Category

- [ ] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior

When searching for a document which doesn't have a title. It should display with the filename, it is default behavior of OOTB search. But same is not applicable in Modern Search Web Part.

#### Observed Behavior

When you search for a document without having Title, it shows in the search result with title

[2019-06-20 11:16] wobba commented on #194
If you use the Title managed property, we display the value of that. Any other value you want to use or remap the cp order for Title is up to you. We don't do anything special with any mp in the web part.

[2019-06-20 11:16] #194 closed

[2019-06-20 12:30] samwainwright opened #195 "Date Refiner Showing the Same Dates"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [-] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When using a refinable date as a refiner, a list of date ranges is displayed e.g.

[2019-06-20 14:21] sympmarc opened #196 "Modern Search - Handlebars template for modern events"
#### Category
- [ ] Question
- [ ] Bug
- [x] Enhancement

I've been working on a Handlebars template to display modern events. It's still WIP, but I wanted to share it here for discussion. It might make sense to offer some additional templates like this for known Content Types.

There are challenges here with formatting. I've stolen the markup for the Events Web Part as a starting point and layere

[2019-06-20 16:49] FranckyC commented on #196
Thank you @sympmarc for sharing this! Actually, it is a good timing to speak about this because I was currently thinking about the template feature in this Web Part and how we could improve it. These are my thoughts and it is all about Office UI Fabric ;)

Basically, with the Office UI Fabric evolution (a very [good explanation](http://www.andrewconnell.com/blog/avoid-the-office-ui-fabric-javascri

[2019-06-20 21:51] YannickRe commented on #196
I'd be all for removing the Office UI Fabric JS package form this solution, and switching to Office UI Fabric React 😁

Your basic scenario matches an idea proposed by @wobba before when I was upgrading to SPFx 1.8, and seems like a straightforward change.
For the advanced scenario's, I have no affinity with Handlebars. In my current experience implementing this with customers, they always choose f

[2019-06-21 14:46] wobba commented on #196
Quick comment. The custom renderer we have today allows passing arbitrary mp's to predefined positions. Match this with similar thinking for adaptive cards and we have something generic. I'll take this with me for the architecture diagram and future direction/refactor.

Very nice sample @sympmarc and we'll figure out how best to process it 👍

[2019-06-21 15:05] wobba commented on #196
One thing to check up is: "You will need to reference library component type during development time from a package manager or using npm link to be able to bundle solutions which are dependent on it" from https://docs.microsoft.com/en-us/sharepoint/dev/spfx/library-component-overview to validate a lib can be deployed and then loaded dynamically by discovery runtime and not build time - to avoid us

[2019-06-21 15:09] YannickRe commented on #196
I think you could add the GitHub link of the library component to devDependencies, but you are right that we need to check this.

[2019-06-21 18:42] wobba commented on #196
@YannickRe I envision creating a renderer/template as a lib, and have that show up as a renderer/template to pick in the result wp - much like how disp templates work in classic. Makes it very easy to distribute templates for third parties.

[2019-06-21 18:51] YannickRe commented on #196
Was my idea as well, but didn’t put all the pieces together. This would indeed prove difficult if the webparts would need the libs on build.
But as far as I can see, this solution already does something similar so we might be able to reuse the code: https://github.com/AJIXuMuK/SPFx/blob/master/react-templates/README.md

[2019-06-21 18:58] FranckyC commented on #196
Guys before focusing on 'how', maybe we can settle on the 'why'. What about the templating approach I exposed? Does it make sense for you? Do you see other scenarios and requirements? @wobba, you mentioned 3rd parties, so you basically think about an extensibility model?

[2019-06-21 19:49] wobba commented on #196
@FranckyC  what I wrote fits with what you wrote. I figure it architectually will end up flexible for easy and advanced scenarios while stil being fast and light weight. Templates/renderer can be implemented any which way people choose to, ouifr or what not.

Why? Because we need something simpler than classic display templates, yet flexible for all scenarios while hopefully being in line to re-us

[2019-06-21 20:05] sympmarc commented on #192
Here's what I get with getDate when it's around the date boundary. I'm working in GMT-0400 (Eastern Daylight Time.

Snippet from the template I submitted in the other issue:
[code]
yields:
  2019-06-10T00:00:00.0000000Z:: Sun, Jun 09 08:00, All Day

So the offset pushes the formatted date back into the previous day.

Doing it manually in the console:
[code]
Maybe I'm doing something dumb?

[2019-06-21 20:11] sympmarc commented on #196
Just wanted to say it's a lot of fun watching you smart people think this through.

To me, it would be great if the templates *Microsoft* is using were available as choices in the Web Parts here. One of the goals would to be to stay consistent with the MS UI as it evolves over time. Anything we do as 3rd party devs that diverges from what the 1st party devs are doing is just technical debt.

It lo

[2019-06-21 20:49] FranckyC commented on #196
@sympmarc

No choice to use Office UI Fabrcic React controls then

Question for Microsoft/Office UI Fabric team. It looks like this is just a custom DocumentCard React control. We could certainly provide the same in the Modern Search WP, but as a custom control.

The approach I mentioned covers pretty much the common scenarios but it is all about compromises. Right now, we can't have the best of b

[2019-06-27 10:27] ryanjonhealy commented on #196
I thought it might be useful to add the following handlebars template with some updated css/classes so it can be used as is.  I can't say this will work in all scenarios but it works for me.

Very interested to see what develops here

[code]

[2019-06-27 12:45] Ashutosh2019 opened #198 "Search Box WebPart with "Send Query to a new page" behave different on clicking "X" (Clear)."
#### Category

- [ ] Bug

#### Expected or Desired Behavior
Configuring Search Box web part with "Send Query to a new page". When entering some values in search box and click on Clear button, instead of clearing the text, it redirects to other page.

#### Observed Behavior
Configuring Search Box web part with "Send Query to a new page". When entering some values in search box and click on Clear bu

[2019-06-27 14:02] dpc80111 opened #199 "Result Source Identifer doesnt allow for additional RefineableString refiners??"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [ ] Bug
- [x ] Enhancement

#### Expected or Desired Behavior
My expected behavior when using a Result Source Identifier, that I could furthe

[2019-06-27 16:32] #199 closed

[2019-06-28 15:38] dpc80111 opened #200 "Using search term with multiple pages and hops"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [X ] Question
- [ ] Bug
- [ ] Enhancement

Is it possible to set up 3 hops using the same search term in the following manner?

Hope 1:  Search box parameter

[2019-06-28 18:11] mag210 commented on #198
@Ashutosh2019  I've also been able to re-produce this. The behavior only happens when Search web part is configured to send results to a new page. If it's not, then clear works as expected.

[2019-06-28 21:20] YannickRe commented on #200
@dpc80111 I'm not completely sure what you are trying to achieve... Are you trying the following:
**Page1.aspx**: contains a Search Box Web Part, which sends the query to Page2.aspx (using URL Fragment)
**Page2.aspx**: contains a Search Box Web Part which takes the URL Fragment value as input (dynamic data). There is also a Search Navigation Web Part with a link to Page3.aspx to send the query (us

[2019-06-28 21:45] YannickRe commented on #198
@Ashutosh2019 @mag210 Thanks for reporting, you are totally right. I have submitted a pull request to fix this in a future release.

[2019-06-28 22:01] dpc80111 commented on #200
Yes you have the analysis correct.  Screen shots on document.

Thanks you for the help
[ModernSearch3Hops.docx](https://github.com/SharePoint/sp-dev-solutions/files/3341025/ModernSearch3Hops.docx)

[2019-06-28 22:07] YannickRe commented on #200
Problem is that the Search Navigation Web Part doesn’t have the ability to use URL Hash. It will always (it’s hardcoded) use querystring ?q= and append your query.

You can change the Search box on Page3 to read from QueryString instead of URL hash.
Other solution would be to change SearchBox on Page1 to send with QueryString “q”, adjust SearchBox on Page2 and Page3 to read from QueryString “q”. Y

[2019-06-30 00:29] gristy58 opened #202 "Taxonomy GUID Shown when Filter applied"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Taxonomy labels shown.

#### Observed Behavior
After using the sort drop down in the search results box. Taxonomy terms show their guid.

#### Steps to Reproduce
Provide a search that returns results with taxonomy tags.,
Sort using the sort order drop down.

[2019-06-30 00:31] gristy58 opened #203 "Pagination Issue?"
#### Category
- [x] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Pagination Webpart to progress Search Results

#### Observed Behavior
I have a search box webpart connected to search results webpart which has a pagination webpart connected to it.

The pagination webpart displays the correct number of pages. But nothing happens when changing page.

Is there extra configur

[2019-06-30 00:32] #203 closed

[2019-06-30 20:05] FranckyC commented on #202
HI @gristy58 . This issue has already been resolved. You should get the latest version. see https://github.com/SharePoint/sp-dev-solutions/issues/182

[2019-06-30 22:52] gristy58 commented on #202
Thank you - i did grab the latest version without it being resolved.

On Mon, 1 Jul 2019 at 05:35, Franck Cornu <notifications@github.com> wrote:

--
Regards

Chris Grist

[2019-06-30 23:37] clechner77 commented on #72
Several additional possible improvements/options
-Search as you type
-Integration with default searchbox (now in header for SPO)

[2019-07-01 09:44] #184 closed

[2019-07-01 09:44] #198 closed

[2019-07-01 10:27] mag210 commented on #196
Hi all,
Really interesting discussion. I wanted to get some opinions on the best way to render results for Search webpart with the current display options we have available. Like most people I was initially attracted to the handlebar templates. They do offer great flexibility but agree that these do end up becoming quite fiddly and you usually end up with differences from the MS Fabric UI. Also do

[2019-07-01 10:37] FranckyC commented on #202
Did you pull the latest modern-search-dev branch?

[2019-07-01 10:40] FranckyC commented on #196
Hi @mag210 , thank you for your feedback. FYI, I'm currently updating the default templates to use Office UI Fabric React components. I can't tell more right now but you should see something pretty cool in few weeks. Stay tuned ;)

[2019-07-01 11:59] gristy58 commented on #202
I had trouble building it, so used the latest release from June

On Mon, 1 Jul 2019 at 20:08, Franck Cornu <notifications@github.com> wrote:

--
Regards

Chris Grist

[2019-07-01 12:00] FranckyC commented on #202
Unfortunately this fix isn't in the latest package. What is the issue with the build?

[2019-07-01 12:01] gristy58 commented on #202
I get a bunch of python errors any chance you could send me a package file
gristy at gmail.com ?

On Mon, 1 Jul 2019 at 9:30 pm, Franck Cornu <notifications@github.com>
wrote:

--
Regards

Chris Grist

[2019-07-01 12:05] FranckyC commented on #202
Hmm if you post your error message, maybe we could help you. I can,t build the package for you sorry since i'm working on the new version. Did you install all prerequisites ?

[2019-07-01 12:09] gristy58 commented on #202
Hi,

Its the modules installing that does not work.

Will tell the customer to wait away until new package is released.

gyp ERR! stack Error: Command failed:
C:\Users\grist\AppData\Local\Programs\Python\Python37\python.EXE -c import
sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR

[2019-07-01 12:24] FranckyC commented on #202
Ok the next release is scheduled for july 10th

[2019-07-01 12:44] mag210 commented on #196
@Francky sounds great, and happy to help test. Would you suggest developing solutions using the Code renders is the best way to go until these react based templates and in place and working?

[2019-07-01 12:47] wobba commented on #202
@gristy58 Make sure you have SPFx v1.8.2 installed and try the following to build it:

* npm install
* npm dedupe
* gulp

[2019-07-01 12:48] FranckyC commented on #196
@mag210 the approach I'm developing is using web component custom elements + attributes to integrate React components in Handlebars templates. This way, you benefit from Handlebars helpers + result types features. Works pretty well actually. I'll let you know when you could test all of this (maybe using my own repo first) before doing a PR.

[2019-07-01 13:15] wobba commented on #196
@mag210 After we've done some testing the code renderer will hopefully be switched out to use SPFx libraries instead of app customizers. But I believe the approach will stay, and be patient as we're working to restructure the web part to be flexible and easy to extend in any way you would want in regards to rendering. Just need to get some time to draw it all out, but expect plans to arrive in Jul

[2019-07-01 13:18] wobba commented on #72
@clechner77 stay tuned for OOB search box integration :) Search as you type (query suggestions) in the PnP are already implemented, but without getting too technical it's not always easy to get them out correct (unless you have added static ones). That said, we will add this as well as part of an architecture review we have just started, and we have code available which implements this we can use.

[2019-07-01 13:58] wobba commented on #195
@samwainwright the issue is that when you map a date cp to a refinabledate mp the format is stored as "7/9/2019 10:00:00 PM" instead of "2019-07-01T22:00:00.0000000Z", and thus it parses wrong.

@FranckyC have you looked at something similar before? Seems we should be able to parse this as long as the format seems to be "m/d/yyyy" across all sites. Looking at the value, it's been adjusted to Z tim

[2019-07-01 14:01] clechner77 commented on #72
@wobba - For search as you type, I meant searching and showing actual results as you are typing.  This happens when you are editing the web part/search query, but not when you're connected to a search box (or maybe I just didn't see a setting which is entirely possible).

[2019-07-01 14:03] FranckyC commented on #195
@wobba Never had this issue. Should'nt be complicated to resolve. Unfortunately, I don't have time to work on this right now.

[2019-07-01 14:03] wobba commented on #72
@clechner77 ok.. real results. Except the oob one is not the exact same as a real search, as it's using an undocumented internal API to get those results - but do get your point 👍.

[2019-07-01 18:14] dpc80111 commented on #200
Perfect that worked!

Another question if may.

How do I show the URL field of the item, not url of the item ID.   The URL field is in the Resource Identifier (Result Source from a SharePoint list which has a Hyperlink firld.)

Thank you

[2019-07-01 19:55] dpc80111 opened #204 "react-search-refiners solution package"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [ ] Bug
- [ x] Enhancement

Is there a solution package created for react-search-refiners solution?

[2019-07-01 21:02] wobba commented on #200
If your column is a URL site column you can use the auto mp for the column and one of the helper methods in the Readme to display the title or Url of the column value.

[2019-07-01 21:02] #200 closed

[2019-07-01 21:04] wobba commented on #204
Check out https://github.com/SharePoint/sp-dev-solutions/releases or clone the repo and ignore the other projects for source code. Is that what you are after?

[2019-07-01 21:12] #204 closed

[2019-07-01 21:36] dpc80111 commented on #200
And would this be the correct entry since I didn't use a Site column

 <ul class="ms-List template_defaultList">
            {{#each items as |item|}}
                <li class="template_listItem" tabindex="0">
                    {{#> resultTypes}}
                        {{!-- The block below will be used as default item template if no result types matched --}}
                        <div class

[2019-07-02 09:16] wobba commented on #200
@dpc80111 Right now `getUrlField ` works with the automatic managed properties as they have both Title and URL stored in the property. When mapping manually I believe only the url is stored(?). Either way, you would use:

`{{getUrlField prop "URL"}}`

or

`{{getUrlField prop "Title"}}`

depending on if you wanted to display the title or the URL.

[2019-07-02 11:38] colonelclaypoo opened #205 "Search Results - Refiner tags not rendered when applying sorting"
- [x] Bug?

Hello,
I noticed that applying a sort order when displaying *owstaxidmetadataalltagsinfo* to be available as a URL fragment / as refiner will break the translation - at least with my current configuration. Here's a screenshot of the result source/config.

![image](https://user-images.githubusercontent.com/29123261/60509477-47e61300-9ccd-11e9-936e-8773bf9e3cb1.png)

As soon as I choose

[2019-07-02 11:44] FranckyC commented on #205
Hi, this issue has already been flagged twice and resolve since. See #202 and #182. Please take a look at closed issues first ;)

[2019-07-02 11:45] wobba commented on #205
Does it only happen with this one term only? And could you provide the term(s) in both languages for testing? Also, what is the primary language of the termset?

[2019-07-02 11:47] wobba commented on #205
Closing this as it's resolved in the dev branch.

[2019-07-02 11:47] #205 closed

[2019-07-02 11:47] wobba commented on #202
Closing this as it's resolved in the dev branch.

[2019-07-02 11:47] #202 closed

[2019-07-02 12:24] colonelclaypoo commented on #205
Sorry, I didn't mean to create a duplicate. I had started a search but must have used the wrong search term:
![image](https://user-images.githubusercontent.com/29123261/60512416-c8f4d880-9cd4-11e9-8aef-7e156a82bae5.png)

[2019-07-02 12:25] FranckyC commented on #205
No worries ;)

[2019-07-02 13:31] dpc80111 commented on #200
Thank I greatly appreciate all the help.

[2019-07-02 13:58] dpc80111 opened #206 "Combine Search Navigation and Search Vertical"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [ ] Bug
- [x ] Enhancement

It would be great if  the Search Nav and Search Verticals were combined into one, giving admins that ability to us

[2019-07-02 14:03] Ashutosh2019 commented on #198
I have taken the latest and build it, I feel the issue still persists.

[2019-07-02 14:21] YannickRe commented on #198
Did you use the modern-Search-dev branch? It’s not merged into master yet.

[2019-07-02 14:37] heinrich-ulbricht opened #207 "MultilingualPages: Additional Columns are not added to Site Page content type (for German user)"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
After adding the app to the site it should add new columns to the "Site Page" content type.

#### Observed Behavior
The app fails to add the site columns to the "Site Page" content type. (Site columns are created, though).

This is a MUI issue. The code tries to retrieve the content type "Site Page" which d

[2019-07-02 21:10] dpc80111 opened #208 "Page Refresh Required to show results"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [x ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Results show by search term from search box settings: Page Environ, Q String>Q

[2019-07-03 11:29] wobba commented on #208
I have a feeling this is due to smart loading. How are you navigating to your result page? What kind of page takes you there, and what logic is used for navigation?

[2019-07-03 12:16] wobba commented on #195
@samwainwright can you share what the data of the returned managed property looks like in the refinement results? Either by examining the data coming back from the _api/search/postquery or use the search query tool. Not sure my previous comment was correct, and cannot reproduce what you are seeing.

![image](https://user-images.githubusercontent.com/51104/60590735-0d4bab80-9d9d-11e9-8154-34669084b

[2019-07-03 12:21] FranckyC commented on #208
Yeap I also think something is not wired correctly. What are your search results and search box connection parameters?

[2019-07-03 14:13] dpc80111 commented on #208
Thanks guys, The set up info is in word attachment.
[ModernSearch-dpc80111.docx](https://github.com/SharePoint/sp-dev-solutions/files/3355356/ModernSearch-dpc80111.docx)

PS: Can you put in a plug to start allowing video files to be uploaded

[2019-07-03 15:28] momo258 commented on #143
It seems like the function LoadHandlebarsHelpers does not get called.
This code thats responsible for calling this function. Can be found in BaseTemplateService.ts
[code]

Example :
Regex : `/{{#.*?getDate.*?}}/m`
Doesn’t match with `{{getDate EventDateOWSDATE "MM-DD-YYYY"}}`
The reason for this is because of ” # ” been part of the Regex.
If you remove “ # ” from the Regex than it will match corre

[2019-07-03 15:40] wobba commented on #143
@momo258 great find! I'll try get a fix in for this tomorrow.

[2019-07-03 15:42] FranckyC commented on #143
Good catch @momo258! Effectivelly, the issue is the searchHBHelper object is not created and the getDate helper relies on it.

[2019-07-04 10:39] wobba commented on #143
Fixed and will be part of the next release

[2019-07-04 10:39] #143 closed

[2019-07-04 10:43] wobba commented on #208
@dpc80111 If you set top open i a new tab instead of the same current tab, do you see the issue still?

[2019-07-04 11:59] Ashutosh2019 commented on #198
@YannickRe ...no I have taken from master. I will take it from dev branch, Thank you.

[2019-07-04 12:48] SaraKlein opened #209 "Results are not displayed"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [*] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
added a search box and search results web part.
expected to see results - I know

[2019-07-04 12:50] FranckyC commented on #209
Hi @SaraKlein. Does this issue appear with the default WP configuration (templates ,etc)?

[2019-07-04 12:53] SaraKlein commented on #209
Yes, the only change i made is on the search results - it takes the query
from the search box.

On Thu, 4 Jul 2019 at 15:50, Franck Cornu <notifications@github.com> wrote:

[2019-07-04 12:57] FranckyC commented on #209
What browser are you using? Also, did you take the .spkg file or you built from the master/modern-search-dev branch?

[2019-07-04 13:02] SaraKlein commented on #209
i'm using chrome.
I built from the  master/modern-search-dev branch

On Thu, 4 Jul 2019 at 15:57, Franck Cornu <notifications@github.com> wrote:

[2019-07-04 13:03] FranckyC commented on #209
Ok which one did you take? master or dev?

[2019-07-04 13:28] dpc80111 commented on #208
I am assuming that wouldt be to open a new tab on page 1 to page 2 as I can do that from page 2 search nav to page 3.

That produces no results  on pages 2 with ONLY open in new tab set.
![searchSites2](https://user-images.githubusercontent.com/48605275/60669906-ac6bb400-9e2c-11e9-8109-4b7c2f3f25b1.png)

[2019-07-04 13:39] wobba commented on #209
The error seems related to `LoadHandlebarsHelpers` according to the line number. If you remove the search box, still the same error? Tested the `modern-search-dev` branch just now adding a search box, pagination and result web part and don't see any issues.

[2019-07-05 10:24] wobba commented on #192
@sympmarc what is the timezone setting on your site? If you enter event date X, what i the mp value?

Maybe we should add an option to `getDate` which just displays the Z date as is with no adjustment?

[2019-07-05 10:24] #183 closed

[2019-07-05 10:28] wobba commented on #178
@harshdamaniahd so you want an option to clear globally per filter type?

A a side note, do you have numbers to back up having 7-8 refiners and users actually using them? In my experience (when measuring), usage of filters beyond the third one is hardly used.

[2019-07-05 10:28] wobba commented on #154
@ewkohtz still and issu or can I close this one?

[2019-07-05 10:29] #103 closed

[2019-07-05 14:43] dpc80111 opened #210 "Modern Search Custom Renderer v1.0.1.0 deployment failure"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [x ] Question
- [ x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Install and be able to use app

#### Observed Behavior
Deployment step fails
![

[2019-07-05 16:41] sympmarc commented on #192
GMT-0400 (Eastern Daylight Time)

I think adding that option would be useful. Basically, it's like a split on the T and formatting the date to look pretty - without adjusting for time zone. Whenever we have a Date/Time column set to Date only, we have this problem.

[2019-07-05 20:50] Troy-Phillips opened #212 "Incorrectly labeled as an Instagram web part solution"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are su

[2019-07-05 20:51] Troy-Phillips commented on #212
This Modern search web part solution is incorrectly listed as for the "Instagram Web Part".  Thank you for all your great work!  -Troy

[2019-07-07 10:04] SaraKlein commented on #209
At first i tried the master.
now I tried the dev and when i try running gulp package-solution after
building I get 3 errors:
 Error - Error: The webparts manifests list is empty. Please ensure you
have done a build and that your config file is pointed at the correct
folder.

Error - Error: The webparts manifests list is empty. Please ensure you have
done a build and that your config file is pointe

[2019-07-07 10:34] wobba commented on #210
@dpc80111 I see the same error and will try to figure out what happens.

[2019-07-07 17:01] dpc80111 commented on #208
I do believe this is due to a\the refiner on a page.  I tested the issues both  in IE 11 and chrome and they had the same result. I had to refresh page.  Removed refiner and 3rd page rendered results. No refresh needed.

[2019-07-08 08:31] mrik23 commented on #143
@wobba OK I will update when the release is made available.

[2019-07-08 08:51] wobba commented on #212
@Troy-Phillips can you explain a bit more what you mean? And please read the submission template before posting. It's s a template for you to fill in, and remove the sections you don't need.

[2019-07-08 08:52] wobba commented on #210
@dpc80111 I have updated the sppkg in releases. Seemed to happen with the 1.8.2 upgrade. I have downgraded to 1.7.0 and will try to figure out what causes this.

[2019-07-08 09:52] wobba commented on #210
Found the issue and fixed it. Package updated.

[2019-07-08 09:52] #210 closed

[2019-07-08 10:04] wobba commented on #209
@SaraKlein Try this when standing in the spfx folder of the project:
[code]

[2019-07-08 11:07] wobba commented on #192
@sympmarc Added an int as 0/1/2 for time handling. Do you think this is sufficient?

* 0 = default
* 1 = ignore Z and format as browsers time zone
* 2 = set time as 00:00:00 and handle as browsers time zone

[2019-07-08 12:22] sympmarc commented on #192
I'm not sure what the differences are. 2 seems to address my use case, though with **Date Only** columns, we get a value like `2019-06-10T00:00:00.0000000Z` anyway.

For clarity, what would happen to that value in each of the scenarios? Let's say I'm in EDT ( GMT-0400 (Eastern Daylight Time) - as I am). I think you're saying:
* 0 = default `Sun Jun 09 2019 20:00:00`
* 1 = ignore Z and format as br

[2019-07-08 13:06] heinrich-ulbricht opened #213 "MultilingualPages: ampersand (&) in page title leads to endless error loop in console"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Ampersand (&) in page title should be handle correctly.

#### Observed Behavior
Ampersand (&) in page title leads to errors and endless loop (visible in JavaScript console).

#### Steps to Reproduce
* have multilingual pages solution installed and set up
* create new page with title _test1 & test2_
* choose

[2019-07-08 13:13] samwainwright commented on #195
@wobba here's the data from /postquery:
`                  "Entries": [
                      {
                          "RefinementCount": "20",
                          "RefinementName": "Before 2006-01-03T23:00:00.0000000Z",
                          "RefinementToken": "range(min, 2006-01-03T23:00:00.0000000Z)",
                          "RefinementValue": "Before 2006-01-03T23:00:00.0000000Z

[2019-07-08 13:15] wobba commented on #192
Say you have 1am zero time defined

2019-06-10T01:00:00.0000000Z

If browser is GMT-0400

* 0 = 2019-06-09 9pm
* 1 = 2019-06-10 1am
* 2 = 2019-06-10 12am

[2019-07-08 13:16] wobba commented on #213
@juliemturner

[2019-07-08 13:18] wobba commented on #195
@samwainwright looking at that data I don't see why it should not work. Can you test with latest dev branch code?

[2019-07-08 19:05] SaraKlein commented on #209
That worked.
Thank you very much!

On Mon, 8 Jul 2019 at 13:04, Mikael Svenson <notifications@github.com>
wrote:

[2019-07-08 19:06] #209 closed

[2019-07-08 20:31] mwsaunders opened #214 "Search Results Web Part Does not display Title"
#### Category
- [ ] Question
- [X] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When a title is added in the web part the title should be displayed in the UI

#### Observed Behavior
No title displayed in UI - I know this has already been reported and was reported as being fixed.

I started out with the Master Branch a couple days ago and just now got the developer branch and installed

[2019-07-09 06:13] wobba commented on #214
Duplicate #190. Verified with current modern-search-dev branch and works as expected. Will be part of the July release coming probably this week (which means merge with master).

[2019-07-09 06:13] #214 closed

[2019-07-09 06:16] wobba commented on #192
@sympmarc if you're happy with this and cannot thing of another scenario I should add, I'll close this. One could be to format as the sites timezone, or as the users profile timezone perhaps, if those are easy lookups(?).

[2019-07-09 08:57] wobba commented on #192
@sympmarc wasn't too hard, and noticed you have a post on timezone data as well :) Option 3 and 4 added.

[2019-07-09 08:57] #192 closed

[2019-07-09 11:37] mwsaunders commented on #214
Hmm,  As I wrote I did get the modern-search-dev branch yesterday.

Should the version have changed?

[2019-07-09 12:49] wobba commented on #214
@mwsaunders Not yesterday, bumped it to 3.5 today but that should not matter. I tested on a package I built 5 days ago.

[2019-07-09 13:37] mwsaunders commented on #214
Okay - I removed the app from the site, deleted it from the site collection recycle bin and secondary recycle bin, the removed it from the Tenant app catalog and reinstalled it with yesterdays dev branch (still on 3.4.0.0).  Now the title is working for me.

To re-iterate what I had done was to add the master branch to the app catalog, found the title was not working, then put the dev branch in th

[2019-07-09 17:57] mwsaunders opened #215 "Display Organizational News / Site Name Option"
#### Category
- [ ] Question
- [ ] Bug
- [X] Enhancement

Hi , I am working on this for display of News items.
Mainly as it provides a way to filter across multiple sites using a NewExpiryDate property.
But the additional customization abilities are great.

Is there a way to have the Organizational News Banner Displayed?
Get-SPOOrgNewsSite -
I am guessing this would be done in the display template

[2019-07-09 18:03] FranckyC commented on #215
Hi @mwsaunders, Did you try to use the 'SiteTitle' MP to get the site name only? You will have to add it to the selected properties first and them use it in your template

[2019-07-09 20:07] mwsaunders commented on #215
Thanks, yes that gets me the site name. Good enough for now.

[2019-07-09 20:07] #215 closed

[2019-07-10 11:58] #213 closed

[2019-07-10 15:32] mwsaunders opened #218 "How to query sites other than originating site."
#### Category
- [X] Question
- [ ] Bug
- [ ] Enhancement

Hi, I am still researching to find and answer, but figured I would get this question going.

I have the Modern Search Solution working good on a hub site.
Using DepartmentId:{{PageContext.hubSiteId}} it is finding all items in all sites connected to the hub.

Now I am working on setting this up on a different site - one that is not associat

[2019-07-10 18:22] wobba commented on #218
The hub id is the site id of the hub, so you could look up the site guid and use that on the other sites.

[2019-07-11 08:34] marcoschmucker commented on #208
I do have the same error on the search result page: The search box gets the url parameter set when user comes from homepage (q). Results are listed in results webpart.
When the user enters a new term in the box on the results page (open in new tab, send to new page = itself), the url gets the term, the box shows the new term, too.
Results still have the old term. Only if user refreshes page, the r

[2019-07-11 08:39] marcoschmucker commented on #208
Different to your screens on my environment: Search always adds a # to the query.
Is that maybe a misconfiguration?
Thanks so much!

[2019-07-11 13:29] heinrich-ulbricht commented on #175
Note: this seems to affect the user that is doing the setup. Currently the solution has to be added and set up as an English user. Related bug report: #207

[2019-07-11 13:49] jimmywim opened #221 "Modern Search - Breaks on Classic Sites"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
Modern Search Results web part to render when added to a Classic site

#### Observed Behavior
Web part never renders, displays "Loading Search Results..."

#### Steps to Reproduce
* Create a classic Publishing Site
* Add a Page
* Add the PnP Modern Search Results Web Part
* Set the query to *
* Click OK on

[2019-07-11 13:58] FranckyC commented on #221
Hi @jimmywim, this has been already answered here https://github.com/SharePoint/sp-dev-solutions/issues/189

[2019-07-11 14:00] jimmywim commented on #221
@FranckyC Cheers, didn't see it from searching! Will close.

[2019-07-11 14:00] #221 closed

[2019-07-11 15:47] FranckyC commented on #196
@mag210 @sympmarc  @ryanjonhealy For those who want to test the preview of the next version, you can clone this branch (officeui-refactor) from my forked repo and build the package:

https://github.com/FranckyC/sp-dev-solutions/tree/feature/officeui-refactor/solutions/ModernSearch/react-search-refiners

I suggest you to remove and reinstall completely your nodes_modules folder before.

Looking for

[2019-07-11 17:14] jayminpatel81 opened #222 "I ran npm install for reach-search-refiners repository and it takes more than 45 minutes and then it simple hangs. How can I install all modules and compile a project?"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
_If you are reporting a bug, please describe the expected behavior. If you are su

[2019-07-11 18:42] mwsaunders commented on #218
Hi Wobba,  Yes I have the gui HubId.
After some trial and error I found the correct syntax to be.
DepartmentId:{55f1a0a1-7555-4fc0-9416-9582ab40a3c1} OR Path:"https://xxxxxxxx.sharepoint.com/sites/MH-Private-R22a"
This finds items on the corporate hub and the non-associated regional site.

 I did happen across your site while researching.  I saw the picture and said, hmm that looks familiar.
Thank

[2019-07-11 18:42] #218 closed

[2019-07-11 20:36] coupalm opened #223 "How to get modern .url link data"
#### Category
- [X] Question
- [ ] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
When a search result is a .url link of a document library, I would like to be able to customize the search result to provide the link stored in the url file type.

#### Observed Behavior
I'm not able to find or create a managed properties for this info. The field is __ShortcutUrl is hidden and I'm not able

[2019-07-11 22:31] coupalm commented on #175
Thanks. I did fix my local copy of the solution to support setup as non english user. Because I currently don't have much experience in TypeSript and GitHub I didn't want to push the updated solution...

For my information: Have you tried to install the solution in the tenant root site collection? Any issue with calls to ${this.context.pageContext.web.serverRelativeUrl}/_api/web/ ? I think it will

[2019-07-12 06:37] wobba commented on #222
Seems like a network issue to me. Also, read the submission template and edit as needed.

[2019-07-12 06:37] #222 closed

[2019-07-12 07:06] wobba commented on #223
@coupalm I don't think this is possible as the link is stored inside the .url file, and not included as managed property. You would need a special UI handler which opens the file, and then uses the link inside to open.

[2019-07-12 07:09] wobba commented on #175
@coupalm If you fork the project, you can create a PR with your changes for us to look at, and possibly merge into the solution in order to fix this :)

You can also create a PR with the change by navigating to the file in github and do the change in the github editor to create a PR.

[2019-07-12 07:23] heinrich-ulbricht commented on #175
@coupalm If you could contribute your changes - either by Pull Request like @wobba mentioned or via zip download - this would be great.

[2019-07-12 07:25] heinrich-ulbricht commented on #175
_Note for the future: this ticket is mentioned in readme.md - if it get's closed please update the readme as well (whoever closed this issue)._

[2019-07-12 07:25] heinrich-ulbricht commented on #207
_Note for the future: this ticket is mentioned in readme.md - if it get's closed please update the readme as well (whoever closed this issue)._

[2019-07-12 16:56] dpc80111 opened #224 "Modern Search Web Parts v3.5.0.0 Release email"
Thank you for reporting an issue or suggesting an enhancement. We appreciate your feedback - to help the team to understand your needs, please complete the below template to ensure we have the necessary details to assist you.

#### Category
- [ ] Question
- [X ] Bug
- [ ] Enhancement

The URL in the release email gives you a 404 error

https://github.com/SharePoint/sp-dev-solutions/releases/tag/20

[2019-07-12 20:40] mwsaunders commented on #195
I am using the Dev Branch downloaded on 07/08/2019
I just noticed similar results.
Filter is the default created filter.
I did try setting up others on different date fields and all show the same date ranges.
![Created Refiner](https://user-images.githubusercontent.com/52049381/61157205-75983c80-a4c3-11e9-9277-4d4823c04cba.jpg)

[2019-07-13 20:02] wobba commented on #224
@dpc80111 I was renaming the tags, and deleting the wrong ones. Use https://github.com/SharePoint/sp-dev-solutions/releases/latest and you are good

[2019-07-13 20:02] #224 closed

[2019-07-13 20:03] wobba commented on #195
@mwsaunders and if you look at the data coming back, they look correct, but it renders wrong?

[2019-07-15 11:44] mwsaunders commented on #195
@wobba
Off hand I do not know how to look at the data coming back.  I did recently download the search query tool but do not yet have it working.  I will see if I can figure out how to look at the data one way or another.

[2019-07-15 12:52] wobba commented on #195
@mwsaunders If you open dev tools in the browser before searching and filter on xhr results contain `postquery` in the URL you should be able to grab the JSON returned.

The screenshot is taken from Chrome.

![image](https://user-images.githubusercontent.com/51104/61217502-1e3adc00-a710-11e9-89b7-b6d45a06684b.png)

[2019-07-15 14:30] mwsaunders commented on #195
@wobba
Is this what you are looking for ?
I created a new page with just the Results and Refiners Part.
Query Template
{searchTerms} Path:{Site} news

"Refiners":[{"Entries":[{"RefinementCount":"1","RefinementName":"Before 2019-05-18T12:31:40.4999680Z","RefinementToken":"range(min, 2019-05-18T12:31:40.4999680Z)","RefinementValue":"Before 2019-05-18T12:31:40.4999680Z"},{"RefinementCount":"1","Refin

[2019-07-15 15:09] dpc80111 commented on #208
Work around - remove the default search term and the 3rd page results are correctly shown WITHOOUT page refresh

[2019-07-15 15:09] #208 closed

[2019-07-15 15:25] marcoschmucker commented on #208
Thanks, but there is no "default search results" value if you use the source "Page environment - query string - url fragment".

![image](https://user-images.githubusercontent.com/27192929/61227809-500a6d80-a725-11e9-87c6-573d2d9c0114.png)

![image](https://user-images.githubusercontent.com/27192929/61227833-5c8ec600-a725-11e9-88bc-e5809fd4143d.png)

![image](https://user-images.githubusercontent.c